.recent-projects {
    // background-image: url('../../../../../assets/images/home/bg-wave-bottom.svg');
    // background-repeat: no-repeat;
    // background-size: cover;
    position: relative;
    .images-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        height: 60vh;
        .image-item {
            display: inline-block;
            position: relative;
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 1rem;
            z-index: 1;

              &:nth-child(1) {
                grid-row: 1 / 3;
                grid-column: 1;
                // background-image: url('../../../../../assets/images/home/project-1.jpg')
              }
              &:nth-child(2) {
                grid-row: 1;
                grid-column: 2;
                // background-image: url('../../../../../assets/images/home/project-2.jpg');
              }
              &:nth-child(3) {
                grid-row: 1;
                grid-column: 3;
                // background-image: url('../../../../../assets/images/home/project-3.jpg');
              }
              &:nth-child(4) {
                grid-row: 2;
                grid-column: 2;
                // background-image: url('../../../../../assets/images/home/project-2.jpg');
              }
              &:nth-child(5) {
                grid-row: 2;
                grid-column: 3;
                // background-image: url('../../../../../assets/images/home/project-4.jpg');
              }
              .item-info {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: 0.3s all ease;
                border-radius: 1rem;
                padding-top: auto;
                padding: 1rem;
                h3 {
                  font-size: 1.5rem;
                }
                .pi {
                  font-size: 1.18rem;
                }
                .info-desc {
                  display: block;
                }
                &:hover {
                    opacity: 1;
                }
              }

        }
        @media (max-width: 1440px) {
          .image-item {
            .item-info {
              h3 {
                font-size: 1.3rem;
              }
              .info-desc {
                font-size: 0.9rem;
              }
            }
        }
        }
        @media (max-width: 768px) {
          grid-template-columns: 1fr; /* Make items take full width of the container */
          height: 100vh;
          .image-item {
              grid-row: auto;
              grid-column: 1 / -1; /* Ensure items span across the entire row */
  
              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(3),
              &:nth-child(4),
              &:nth-child(5) {
                  grid-row: auto;
                  grid-column: 1 / -1; /* Ensure all items span the full row */
              }
              .item-info {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: 0.3s all ease;
                border-radius: 1rem;
                // padding-top: auto;
                padding: 0;
                .info-desc {
                  display: none;
                }
              }
          }
        }
        @media (max-width: 420px) {
          .image-item {
            .item-info {
              h3 {
                font-size: 1.2rem;
              }
            }
        }
        }
    }
    .recent-header {
      @media (max-width: 768px) { 
        .header-desc {
          display: none;
        }
      }

    }
    .wave-bottom {
      // width: 65rem;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 0;
    }

    .big-card-container ,
    .small-cards-container {
        @media(min-width: 769px) {
            min-height: 640px - 8px;
        }
    }
    .big-card {
        min-height: 640px - 8px;
        max-height: 640px - 8px;
        position: relative;
        display: block;
        z-index: 2;
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 1em;
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        border-radius: 6px;
        img {
            min-height: 520px;
            max-height: 520px;
            object-fit: cover;
        }
        .news-badge.desktop {
            background-color: #fff;
            padding: 0.5rem 1.5rem;
            border-top-left-radius: 7px;
            border-bottom-right-radius: 7px;
            position: absolute;
            top: 3%;
            left: 3%;
            @media(max-width:768px) {
                padding: 0.3rem 1rem;
            }
        }
        .news-badge.mobile {
            display: none;
        }
    }
    .small-card {
        position: relative;
        z-index: 2;
        display: block;
        min-height: calc(320px - 16px);
        max-height: calc(320px - 16px);
        cursor: pointer;
        img {
            height: 100%;
            object-fit: cover;
            min-height: calc(200px - (32px / 3));
            max-height: calc(200px - (32px / 3));
            // max-height: calc(300px - (32px / 3));
        }
        .news-badge {
            display: inline-block;
            background-color: #F0F4FF;
            padding: 0.3rem 1rem;
            border-top-left-radius: 7px;
            border-bottom-right-radius: 7px;
            margin-bottom: 0.7rem;
        }
        .news-badge.desktop {
            background-color: #fff;
            // padding: 0.5rem 1.5rem;
            border-top-left-radius: 7px;
            border-bottom-right-radius: 7px;
            position: absolute;
            top: 3%;
            left: 3%;
        }
        .news-badge.mobile {
            display: none;
        }
    }
    @media (max-width: 768px) {
        .big-card-container, .small-cards-container {
            min-height: calc(180px - (32px / 3));
            // max-height: calc(180px - (32px / 3));
            margin-bottom: 16px;
        }
        .big-card, .small-card {
            max-height: unset;
            min-height: unset;
            img {
                min-height: calc(180px - (32px / 3));
                max-height: calc(180px - (32px / 3));
            }
            .news-badge.mobile {
                display: inline-block;
                background-color: #F0F4FF;
                margin-bottom: 0.7rem;
                padding: 0.5rem 1.5rem;
                border-top-left-radius: 7px;
                border-bottom-right-radius: 7px;
            }
        }
    }
}

.recent-header {
  .btn {
      position: relative;
      border: none;
      background: none;
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      transition-duration: 400ms;
      transition-property: color;
      font-size: 1rem;
      &::after {
          content: "";
          pointer-events: none;
          bottom: -2px;
          left: 50%;
          position: absolute;
          width: 0%;
          height: 2px;
          background-color:var(--secondary-color);
          transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          transition-duration: 400ms;
          transition-property: all;
      }
      &:hover, &:focus {
          color: var(--secondary-color);
          transform: scale(1.1);
          &::after {
              width: 100%;
              left: 0%;
          }
      }
      // @media (max-width:1440px) {
      //   font-size: 1.1rem;
      // }
  }
}

.loading_wrapper {
    height: 50vh;
}

// ::ng-deep {
//     .images-container {
//         .item-info {
//             background-color: #00000098;
//             color: white;
//             .p-button.p-button-icon-only.p-button-rounded {
//               border-radius: 50% !important;
//               background-color: var(--primary-color-medium);
//               border-color: var(--primary-color-medium);
//               margin-top: 1rem;
//               transition: 0.4s all ease;
//               position: relative;  // Ensure the button has position: relative
//               color: #fff;
//               overflow: hidden; // Ensure pseudo-elements are not cut off
            
//               // Create the bubble elements
//               &::before,
//               &::after {
//                 content: '';
//                 position: absolute;
//                 border-radius: 50%;
//                 background-color: white;
//                 opacity: 0;
//                 pointer-events: none;
//                 visibility: visible;
//                 z-index: 9999; // Increase the z-index to make sure it's on top
//               }
            
//               &::before {
//                 width: 40px; // Increased size for visibility
//                 height: 40px;
//                 top: 10px; // Adjusted top position
//                 left: -10px;
//               }
            
//               &::after {
//                 width: 25px; // Increased size for visibility
//                 height: 25px;
//                 top: 17px; // Adjusted top position
//                 right: 0px;
//                 animation-delay: 3s;
//                 clip: unset;
//               }
            
//               &:hover {
//                 background-color: #0056b3;
//                 &::before, &::after {
//                   animation: bubble-animation 2s ease-in-out infinite;
//                   opacity: 0.7; // Make bubbles visible on hover
//                 }
//               }
            
//               // Keyframes for bubble animation
//               @keyframes bubble-animation {
//                 0% {
//                   transform: translateY(0) scale(0.5);
//                   opacity: 0.7;
//                 }
//                 50% {
//                   transform: translateY(-20px) scale(1);
//                   opacity: 0.5;
//                 }
//                 100% {
//                   transform: translateY(-40px) scale(0.8);
//                   opacity: 0;
//                 }
//               }
            
//               @media (max-width: 768px) {
//                 margin-top: 0;
//               }
//             }
            
            
//         }
//     }
// }

.discover_btn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    padding-bottom: 0.3rem;
    i {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-color-medium);
        color: white;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        margin-inline-end: 0.4rem;
    }
    span {
        color: var(--primary-color-medium);
        transition: 0.4s all ease;
        font-size: 0.9rem;
    }
}

::ng-deep {
  .projects-data {
    .p-card-body {
        @media(max-width:768px) {
            position: relative;
        }
        .p-card-footer {
            position: absolute;
            // bottom: 7%;
            font-weight: 600;
            @media (max-width:400px) {
                bottom: 10%;
            }
        }
    }
    .p-component {
        font-family: 'main-font';
        &:lang(ar) {
            font-family: 'ar-main-font';
        }
    }
    .p-tabview .p-tabview-nav {
        background: transparent;
        border: none;
        border-width: 0 0 2px 0;
        padding-left:0;
        @media(max-width: 768px) {
            display: flex;
            overflow-x: scroll;
            overflow-y: hidden;
        }
    }
    .p-tabview .p-tabview-nav li .p-tabview-nav-link {
        background: transparent;
        font-weight: 600;
        font-size: 1rem;
        border-width: 0 0 5px 0;
        color: #000;
    }
    .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
        border-color: var(--secondary-color);
        color: var(--secondary-color);
    }
    .p-tabview .p-tabview-panels {
        background: transparent;
        padding: 0;
    }
    .p-card {
        overflow: hidden;
    }
    .p-card-content .news-desc {
        font-size: 0.8rem;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        // @media (max-width: 440px) {
        //     -webkit-line-clamp: 2;
        // }
    }
    p-card .p-card-title {
        color: var(--primary-color);
    }
    .big-card {
        overflow: hidden;
        @media (min-width: 769px) { 
            &:hover {
                .p-card .p-card-body {
                    height: 25%;
                }
            }
        }
        .p-card .p-card-body {
            padding: 0.7rem;
            @media (min-width: 769px) {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 120px;
                margin: auto;
                // color: #000;
                background: #ffffff;
                // border-radius: 5px;
                transition: 0.5s all ease;
            }
        }
        .p-card .p-card-content {
            padding: 0;
        }
        .p-card .p-card-title {
            font-size: 1rem;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        @media (max-width: 768px) { 
            .p-card {
                display: flex;
                flex-direction: row-reverse;
                flex-wrap: wrap;
            }
            .p-card-header {
                width: 100%;
            }
            .p-card .p-card-title {
                font-size: 1rem;
            }
            .p-card .p-card-body {
                width: 100%;
                min-height: 120px;
                max-height: 120px;
                transition: 0.3s all ease;
            }
        }
        .p-card-footer {
            position: absolute;
            bottom: 9%;
            font-weight: 600;
            @media (max-width: 768px) {
                bottom: 13%;
            }
        }
    }
    .small-card {
        &:hover {
            .p-card-header {
                overflow: hidden;
                img {
                    transition: 0.5s all ease-in-out;
                    transform: scale(1.1) rotate(-1deg);
                }
            }
        }
        .p-card .p-card-content {
            padding: 0;
        }
        .p-card {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
        }
        .p-card .p-card-title {
            font-size: 1rem;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            // @media (max-width: 440px) {
            //     -webkit-line-clamp: 1;
            // }
        }
        .p-card .p-card-body {
            width: 100%;
            min-height: 120px;
            max-height: 120px;
            transition: 0.3s all ease;
            padding: 0.7rem;
        }
        .p-card-header {
            min-width: 100%;
            max-width: 100%;
        }
        @media (max-width:768px) {
            .p-card {
                flex-wrap: wrap;
            }
            .p-card .p-card-body {
                width: 100%;
                min-height: 120px;
                max-height: 120px; 
                transition: 0.3s all ease;
            }
            .p-card-header {
                min-width: 100%;
                max-width: 100%;
                // width: 100%;
            }
        }
        .p-card-footer {
            bottom: 3%;
            @media (max-width: 768px) {
                bottom: 13%;
            }
        }
    }
}
}
