<div class="event-card border-round-3xl" [routerLink]="'details/'+ eventData.slug">
    <div class="img-wrapper">
        <img class="w-full border-round-3xl" [src]="eventData.image" alt="Project Image">
    </div>
    <div class="content">
        <div class="data">
            <div class="info">
                <h5 class="title">
                    {{eventData.title | textSlice : 'title'}}
                </h5>
                <div class="short-desc">
                    {{eventData.pref | textSlice : 'desc'}}
                </div>
            </div>
        </div>
        <div class="actions flex align-items-center justify-content-between">
            <span class="date">
                {{eventData.date}}
            </span>
            <div class="details-btn">
                <p-button icon="pi pi-share-alt" [rounded]="true" severity="secondary"/>
            </div>
        </div>
    </div>
</div>