.project-details {
    padding-top: 2em;
    .content-wrapper {
        width: 100%; 
        .images {
            float: left;
            width: 50%; // or any width you want
            height: auto;
            margin: 10px; // optional
            shape-outside: triangle(50%);
        }
        .text {
            margin-left: 0;
        }
    }
    .project-info {
        .info {
            .title {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 13rem;
                    height: 2.5px;
                    // border-bottom: 2px solid var(--secondary-color);
                    background-color: var(--secondary-color);
                }
            }
            .info-wrapper {
                .label {
                    font-weight: 600;
                    margin-inline-end: 0.6rem;
                }
                i {
                    margin-inline-end: 0.3rem;
                }
            }
        }
    }
    .similar-projects {
        .title {
            position: relative;
            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 13rem;
                height: 2.5px;
                // border-bottom: 2px solid var(--secondary-color);
                background-color: var(--secondary-color);
            }
            &:lang(ar) {
                &:before {
                    left: unset;
                    right: 0;
                }
            }
        }
    }
}

::ng-deep {
    .core-business {
        .load-more {
            margin-block: 2em;
            text-align: center;
            .p-button {
                width: fit-content;
                background: var(--primary-color-medium);
                border: 1px solid var(--primary-color-medium);
                border-radius: 7px;
                padding-inline: 2em;
            }
        }
        .p-image {
            img {
                width: 100%;
            }
        }
    }
}