<div class="project-details margin-avoid-navbar">
<div class="pms-container">
    <div class="project-info" *ngIf="projectData?.title">
        <div class="grid">
            <div class="col-12">
                <h2 class="project-title">{{ projectData?.title }}</h2>
            </div>
            <div class="content-wrapper col-12">
                <div class="images">
                <div class="project-images">
                        <p-galleria 
                            [value]="projectData?.media" 
                            [responsiveOptions]="responsiveOptions" 
                            [numVisible]="5">
                                <ng-template pTemplate="item" let-item>
                                    <img [src]="item.image" style="width: 100%;" />
                                </ng-template>
                                <ng-template pTemplate="thumbnail" let-item>
                                    <div class="grid grid-nogutter justify-content-center">
                                        <img [src]="item.image" style="width: 100%;" />
                                    </div>
                                </ng-template>
                        </p-galleria>
                    </div>
                </div>
                <div class="text" [innerHTML]="projectData?.desc">
                </div>
            </div>
           
        </div>
    </div>
    <app-loading type="small" *ngIf="loading"></app-loading>
    <div class="similar-projects mt-5" *ngIf="similarProjectsData?.length && !similarProjectsLoading">
        <span class="title block font-bold text-2xl pb-2 mb-4">
            Similar Projects
        </span>
        <p-carousel 
            [value]="similarProjectsData" 
            [numVisible]="3" 
            [numScroll]="3" 
            [circular]="true" 
            [showIndicators]="false"
            [responsiveOptions]="responsiveOptions" 
            autoplayInterval="3000">
                <ng-template let-product pTemplate="item">
                    <div class="m-2 p-3">
                        <app-project-card [projectData]="product"></app-project-card>
                    </div>
                </ng-template>
        </p-carousel>

    </div>
    <app-loading type="small" *ngIf="similarProjectsLoading"></app-loading>
</div>
</div>