<div class="core-business">
    <!-- <app-search [Title]="searchTitle"  (searchEmitter)="searchForBusiness($event)"></app-search> -->
    <div class="header flex align-items-center justify-content-center">
        <img src="assets/images/global/core_business.webp" alt="" class="cover">
        <div class="content">
            <h2 class="title">{{'Navbar.OurBusiness' | translate}}</h2>
            <!-- <span class="text mt-3">
                {{'Certificates.Desc' | translate}}
            </span> -->
        </div>
    </div>
    <ng-container *ngIf="coreList?.length && !loading">
        <ng-container *ngFor="let core of coreList; let i = index">
            <!-- <div class="core-img-end" *ngIf="i % 2 === 0" [id]="core.slug">
                <app-center-bar *ngIf="!searchMode" [Title]="core.title" [Desc]="core.pref" [htmlDesc]="true"></app-center-bar>
                <div class="pms-container">
                    <div class="grid mt-5 justify-content-between">
                        <div class="lg:col-6 md:col-12 sm:col-12 mb-4">
                            <div class="core-data">
                                <p-accordion [activeIndex]="0">
                                    <p-accordionTab *ngFor="let tab of core.business" [header]="tab.title">
                                        <div class="core-desc">
                                            {{tab.pref | textSlice : 'desc' : 100}}
                                        </div>
                                        <a class="action flex align-items-center justify-content-end cursor-pointer" [routerLink]="'/core-business/details/' + tab.slug">
                                            <span class="text">
                                                {{ 'General.ReadMore' | translate}} 
                                            </span>
                                            <i class="pi pi-angle-double-right"></i>
                                        </a>
                                    </p-accordionTab>
                                </p-accordion>
                            </div>
                        </div>
                        <div class="lg:col-5 md:col-12 sm:col-12 mb-4">
                            <div class="core-img">
                                <img class="w-full border-round-2xl" [src]="core.image" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="core-img-start" *ngIf="i % 2 === 1" [id]="core.slug">
                <app-center-bar [Title]="core.title" [Desc]="core.pref"></app-center-bar>
                <div class="pms-container">
                    <div class="grid mt-5 img-start justify-content-between">
                        <div class="lg:col-5 md:col-12 sm:col-12 mb-4">
                            <div class="core-img">
                                <img class="w-full border-round-2xl" [src]="core.image" alt="">
                            </div>
                        </div>
                        <div class="lg:col-6 md:col-12 sm:col-12 mb-4">
                            <div class="core-data">
                                <p-accordion [activeIndex]="0">
                                    <p-accordionTab *ngFor="let tab of core.business" [header]="tab.title">
                                        <div class="core-desc">
                                            {{tab.pref | textSlice : 'desc' : 100}}
                                        </div>
                                        <a class="action flex align-items-center justify-content-end cursor-pointer" [routerLink]="'/core-business/details/' + tab.slug">
                                            <span class="text">
                                                {{ 'General.ReadMore' | translate}} 
                                            </span>
                                            <i class="pi pi-angle-double-right"></i>
                                        </a>
                                    </p-accordionTab>
                                </p-accordion>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="core-img-end" *ngIf="core.slug === selectedBusinessSlug" [id]="core.slug">
                <app-center-bar *ngIf="!searchMode" [Title]="core.title"></app-center-bar>
                <div class="pms-container">
                    <div class="grid mt-5 justify-content-between">
                        <div class="card-wrapper xl:col-4 md:col-6 sm:col-12 mb-4" *ngFor="let fleet of businessCoreList">
                            <a 
                            class="fleet-card border-round-xl" 
                            [routerLink]="'/core-business/details/' + fleet.slug"
                            > 
                                <div class="img-wrapper">
                                    <img class="w-full border-round-xl" [src]="fleet.image" alt="Project Image">
                                </div>
                                <div class="content">
                                    <div class="data">
                                        <div class="info">
                                            <h5 class="title" *ngIf="fleet?.title">
                                                {{fleet?.title | textSlice : 'title' : 40}}
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- <div class="lg:col-6 md:col-12 sm:col-12 mb-4">
                            <div class="core-data">
                                <p-accordion [activeIndex]="0">
                                    <p-accordionTab *ngFor="let tab of core.business" [header]="tab.title">
                                        <div class="core-desc">
                                            {{tab.pref | textSlice : 'desc' : 100}}
                                        </div>
                                        <a class="action flex align-items-center justify-content-end cursor-pointer" [routerLink]="'/core-business/details/' + tab.slug">
                                            <span class="text">
                                                {{ 'General.ReadMore' | translate}} 
                                            </span>
                                            <i class="pi pi-angle-double-right"></i>
                                        </a>
                                    </p-accordionTab>
                                </p-accordion>
                            </div>
                        </div>
                        <div class="lg:col-5 md:col-12 sm:col-12 mb-4">
                            <div class="core-img">
                                <img class="w-full border-round-2xl" [src]="core.image" alt="">
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <div class="load-more" *ngIf="(paginationData?.total! > coreList?.length!) && !loading">
        <p-button label="{{'Projects.More' | translate}}" (click)="loadMore()" />
    </div>
    <app-loading type="small" *ngIf="loading" ></app-loading>
    <app-empty-state *ngIf="!coreList?.length && !loading"></app-empty-state>
</div>