$main-color:#0B396A;
$main-color-hover:#082a4e;
$main-color-focus:#082a4e;
$main-color-disabled: #0B396A;


.search-button 
{
  border: none;
  background-color: $main-color;
  &:hover{
    background-color: $main-color-hover;
  }
  &:focus {
    background-color: $main-color-focus;

  }
  &:disabled {
    cursor: not-allowed;
  }
}
header 
{
    background-image: url(./../../../../../assets/images/global/call-centre-banner.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .layer 
    {
        background-color: rgba($color: #000000, $alpha: 0.5);
    }
    .w-custom {
        width: 95%;
      
        @media (min-width: 576px) {
          width: 70%;
        }
      
        @media (min-width: 768px) {
          width: 50%;
        }
      
        @media (min-width: 992px) {
          width: 40%;
        }
      
        @media (min-width: 1200px) {
          width: 35%;
        }
      
        @media (min-width: 1400px) {
          width: 30%;
        }
      }
      h1 
      {
        letter-spacing: .0625rem;
      }
}

input 
{
  &:focus 
  {
    outline: none;
  }
}