<section class="core-business-section py-7">
    <div class="grid pms-container">
        <div class="lg:col-6 md:col-12">
            <div class="core-info">
                <h2 class="core-title title-font-size color-primary">Core Business</h2>
                <p class="core-desc">
                    PMS, is a leading Egyptian EPCI offshore construction company, established in 2001 under the auspices of the Egyptian General Petroleum Corporation (EGPC), with almost four decades of experience as a continuation of its previous entity as the Marine Department of PETROJET.
                </p>
                <div class="core-types grid mt-5">
                    <div class="col-6" *ngFor="let business of coreBusinessData">
                        <div class="core-card text-center border-round-md p-3">
                            <div class="data p-4">
                                <!-- <img class="w-5rem mb-2" src="assets/images/home/ship.svg" alt=""> -->
                                <img class="w-5rem mb-2" [src]="business?.image" alt="">
                                <h3 class="card-title">{{ business.title }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lg:col-6 position-relative core-images">
            <div class="front">
                <img src="assets/images/home/core-front.webp" alt="">
            </div>
            <div class="back">
                <img src="assets/images/home/core-back.webp" alt="">
            </div>
        </div>
    </div>
    <img class="wave-top" src="assets/images/home/wave-top.svg" alt="">

</section>