.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 3;
    color: white;
    // background-color: #0000003d;
    // box-shadow: 0 0 5px rgba(40, 40, 40, 0.5); 
    background: linear-gradient(180deg, rgba(0, 0, 0, .748), transparent);
    .pms-container {
        @media (max-width: 1500px) {
            padding-inline: 3%;
        }
    }
}

.nav-mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: white;
    z-index: 1200;
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 50%);
    // padding-bottom: 0.5rem;
    @media (min-width:992px) {
        display: none;
    }
    .nav-links {
        li {
            margin-bottom: 1.2rem;
            a {
                font-size: 1.1rem;
                font-weight: 600;
                transition: 0.3s all ease;
                border-bottom: 4px solid transparent;
                padding-bottom: 0.4rem;
                cursor: pointer;
                color: inherit;
                &:hover {
                    border-bottom: 4px solid var(--primary-color-light);
                }
            }
        }
    }
}

.nav-container.desktop {
    @media (max-width:992px) {
        display: none;
    }
}

.nav-on-details {
    z-index: 1106;
    .navbar {
        // background-color: #A8C8E8;
        border-top: 1px solid #80808089;
        .navbar-wrapper {
            a {
                color: var(--primary-color);
            }
            ul {
                li {
                    i {
                    color: var(--primary-color);
                    }
                }
            }
        }
        .social {
            display: none;
        }
    }

    .topbar {
        .topbar-wrapper {
            a {
                color: var(--primary-color);
                cursor: pointer;
            }
            ul {
                li {
                    i {
                    color: var(--primary-color);
                    }
                }
            }
        }
    }

}

.navSubPages {
    .navbar {
        .navbar-wrapper {
            a {
                color: var(--primary-color);
            }
        }
    }
}


.nav-sticky {
    position: sticky;
    background-color: #fff;
    color: var(--primary-color);
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 50%);
    
    .topbar, .mobile-topbar {
        display: none;
    }
    .pms-container {
        @media (max-width: 1500px) {
            padding-inline: 1%;
        }
        @media (max-width: 1400px) {
            padding-inline: 0.5%;
        }
    }

    .navbar {
        background-color: #ffffff;
        .navbar-wrapper {
            .logo-wrapper {
                .logo-txt {
                    display: none;
                }
            }
            a {
                color: var(--primary-color);;
            }
            .nav-links {
                li {
                    :not(:last-of-type) {
                        margin-inline-end: 1.1rem;
                    }
                    a {
                        font-size: 0.8rem;
                        font-weight: 700;
                        transition: 0.3s all ease;
                        border-bottom: 4px solid transparent;
                        &:hover {
                            border-bottom: 4px solid var(--primary-color-light);
                        }
                        // &:lang(ar) {
                        // font-size: 1rem;
                        // }
                    }

                }
            }
        }
        @media (max-width:1600px) {
            .navbar-wrapper {
                .nav-links {
                    ul {
                        li {
                            margin-inline-end: 1.1rem;
                        }
                    }
                }
            }

        }
        @media (max-width:1300px) {
            .navbar-wrapper {
                .nav-links {
                    ul {
                        li {
                            margin-inline-end: 0.8rem;
                        }
                    }
                }
            }

        }
        // @media (max-width:1600px) {
        //     .navbar-wrapper {
        //         .nav-links {
        //             ul {
        //                 li {
        //                     margin-inline-end: 0.5rem;
        //                 }
        //             }
        //         }
        //     }

        // }
    }
}


.topbar {
    .topbar-wrapper {
        padding-block: 0.6rem;
        border-bottom:1px solid #ffffff5e;
        a {
            color: white;
            cursor: pointer;
        }
        .nav-links {
            ul {
                padding: 0;
                margin: 0;
            }
            li {
                margin-inline-end: 1.1rem;
                a {
                    font-size: 0.8rem;
                    padding-bottom: 0.7rem;
                    font-weight: 700;
                    transition: 0.3s all ease;
                    border-bottom: 4px solid transparent;
                    &:hover {
                        border-bottom: 4px solid var(--primary-color-light);
                    }
                }
            }
        }

    }
}

.nav-social-langs {
    .social {
        display: flex;
        align-items: center;
        a {
            display: flex;
            align-items: center;

        }
        i {
            font-size: 1rem;
            margin-inline-end: 1.5rem;
            transition: 0.4s all ease;
            &:hover {
                color: var(--primary-color-light);
                transform: scale(1.1, 1.1);
            }
        }
    }
}

.navbar {
    // background-color: #FFFFFF21;
    // background-color: #a8c8e875;
    // padding-block: 1rem;
    padding-block: 0.3rem;
    .navbar-wrapper {
        a {
            color: white;
            cursor: pointer;

        }
        .logo-wrapper {
            .logo-img {
                width: 6.5rem;
                @media(max-width: 1370px) {
                    width: 5rem;
                }
            }
            .logo-txt {
                margin-inline-start: 1.5rem;
                font-size: 1.4rem;
                font-weight: 600;
                margin-bottom: 0;
                font-family:'logo-font' ;
            }
        }
        .nav-links {
            ul {
                padding: 0;
                margin: 0;
            }
            li {
                margin-inline-end: 1.1rem;
                white-space: nowrap;
                a {
                    font-size: 0.8rem;
                    font-weight: 700;
                    transition: 0.3s all ease;
                    border-bottom: 4px solid transparent;
                    padding-bottom: 0.7rem;
                    &:hover {
                        border-bottom: 4px solid var(--primary-color-light);
                    }
                }
            }
        }
    }
}

.nav-links {
    ul {
        li {
            i {
                margin-inline-start: 0.2rem;
                font-size: 14px;
            }
        }
    }
}

::ng-deep {
    .nav-sticky {
        .topbar-wrapper {
            .lang .p-dropdown-label.p-placeholder, .lang .p-dropdown-trigger{
                color: white !important;
            }
        }
        @media (max-width: 1370px) {
            .p-inputtext{
                padding: 0.2rem;
            }
        }

    }

    .topbar-wrapper {
        .lang .p-dropdown{
            background: transparent;
            color: white;
            border: unset;
            // margin-inline-start: 3rem;
            @media (max-width:992px) {
                margin-inline-start: 0.5rem;
            }
        }
        .lang .p-dropdown{
            color: white
        }
        .lang .p-dropdown-label.p-placeholder{
            color: white;
        }
        .lang .p-dropdown-trigger {
            width: fit-content;
        }
        .p-inputtext {
            color: white;
        }
    }

    .mobile-topbar {
        background-color: var(--primary-color-light);
        .nav-social-langs {
            .social {
                // display: flex;
                // align-items: center;
                // a {
                //     display: flex;
                //     align-items: center;
                // }
                i {
                    color: white;
                }
            }
        }
        .lang .p-dropdown-trigger {
            color: white;
            width: 1rem;
        }
    }

    .nav-sticky {
        .lang .p-dropdown{
            color: var(--primary-color) !important;
        }   
        .lang .p-dropdown{
            color: var(--primary-color) !important;
        }
        .lang .p-dropdown-label.p-placeholder{
            color: var(--primary-color) !important;
        }
        .lang .p-dropdown-trigger {
            width: 1rem;
            color: var(--primary-color) !important;
        }
    }

    .nav-mobile {
        .p-button {
            background: var(--primary-color-light);
            border: none;
            border-radius: 5px;
        }
        .p-sidebar-header {
            justify-content: space-between;
        }
        .logo-img {
            width: 5rem;
        }
        @media (max-width:400px) {
            .p-button {
                height: 35px;
                width: 35px;
            }
            .logo-img {
                width: 3rem;
            }
        }
    }

    .nav-container {
        .lang .p-dropdown{
            background: transparent;
            color: white;
            border: unset;
            // margin-inline-start: 3rem;
            @media (max-width:992px) {
                margin-inline-start: 0.5rem;
            }
        }   
        .lang .p-dropdown{
            color: white
        }
        .lang .p-dropdown-label.p-placeholder{
            color: white;
        }
        .lang .p-dropdown-trigger {
            color: white;
        }
    }

    .nav-on-details {
        .lang .p-dropdown{
            color: var(--primary-color);
        }   
        .lang .p-dropdown{
            color: var(--primary-color)
        }
        .lang .p-dropdown-label.p-placeholder{
            color: var(--primary-color);
        }
        .lang .p-dropdown-trigger {
            width: 1rem;
            color: var(--primary-color);
        }
        .p-inputtext {
            color: var(--primary-color);
        }
    }

    .p-dropdown-items-wrapper {
        ul {
            margin-bottom: 0;
            padding-left: 0;
        }
    }
}