<nav class="nav-container desktop" 
    [ngClass]="{
    'nav-sticky': (isSticky || navDetailsOpened),
    'nav-on-details': navDetailsOpened  || !pageWithHeader
    }"
    >
    <div class="topbar" *ngIf="!navDetailsOpened">
        <div class="pms-container w-full">
            <div class="topbar-wrapper flex align-items-center justify-content-between">
                <div class="nav-links">
                    <ul class="flex align-items-center">
                        <li>
                            <a routerLink="/">{{"Navbar.Home" | translate}}</a>
                        </li>
                        <li>
                            <a (click)="onSelectLink('about-us', 'AboutUs', false)">{{"Navbar.AboutUs" | translate}}</a>
                            <!-- <i class="pi pi-angle-down"></i> -->
                        </li>
                        <li>
                            <a (click)="onSelectLink('our-strategy', 'OurStrategy', false)">{{"Navbar.OurStrategy" | translate}}</a>
                            <!-- <i class="pi pi-angle-down"></i> -->
                        </li>
                        <li>
                            <a (click)="onSelectLink('core-business', 'OurBusiness', false)">{{"Navbar.OurBusiness" | translate}}</a>
                            <!-- <i class="pi pi-angle-down"></i> -->
                        </li>
                        <li>
                            <a (click)="onSelectLink('key-assets', 'OurSolutions', false)">{{"Navbar.OurSolutions" | translate}}</a>
                            <!-- <i class="pi pi-angle-down"></i> -->
                        </li>
                        <li>
                            <a (click)="onSelectLink('projects', 'Projects', false)">{{"Navbar.Projects" | translate}}</a>
                            <!-- <i class="pi pi-angle-down"></i> -->
                        </li>
                    </ul>
                </div>
                <div class="nav-social-langs flex align-items-center justify-content-between">
                    <div class="social">
                        <a class="social-item" *ngIf="socialMediaData?.youtube"
                        [href]="socialMediaData?.youtube" target="_blank">
                            <i class="pi pi-youtube"></i>
                        </a>
                        <a class="social-item" *ngIf="socialMediaData?.linkedin"
                        [href]="socialMediaData?.linkedin" target="_blank">
                            <i class="pi pi-linkedin"></i>
                        </a>
                        <a class="social-item" *ngIf="socialMediaData?.insta"
                        [href]="socialMediaData?.insta" target="_blank">
                            <i class="pi pi-instagram"></i>
                        </a>
                        <a class="social-item" *ngIf="socialMediaData?.x"
                        [href]="socialMediaData?.x" target="_blank">
                            <i class="pi pi-twitter"></i>
                        </a>
                        <a class="social-item" *ngIf="socialMediaData?.facebook"
                        [href]="socialMediaData?.facebook" target="_blank">
                            <i class="pi pi-facebook"></i>
                        </a>
                    </div>
                    <div class="langs">
                        <p-dropdown 
                        [options]="langs" 
                        [(ngModel)]="lang" 
                        (onChange)="changeLang($event)"
                        optionLabel="name"
                        optionValue="code"
                        class="lang hide-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="navbar">
        <div class="pms-container w-full">
            <div class="navbar-wrapper flex align-items-center justify-content-between">
                <div class="logo-wrapper">
                    <a routerLink="/" class="flex align-items-center">
                        <img class="logo-img" src="assets/images/global/logo.svg" alt="">
                        <h1 class="logo-txt">{{"Navbar.PMS" | translate}}</h1>
                    </a>
                </div>
                
                <div class="nav-links">
                    <ul class="flex align-items-center">
                        <ng-container *ngIf="isSticky || navDetailsOpened">
                            <li>
                                <a (click)="onSelectLink('about-us', 'AboutUs', false)">{{"Navbar.AboutUs" | translate}}</a>
                                <!-- <i class="pi pi-angle-down"></i> -->
                            </li>
                            <li>
                                <a (click)="onSelectLink('our-strategy', 'OurStrategy', false)">{{"Navbar.OurStrategy" | translate}}</a>
                                <!-- <i class="pi pi-angle-down"></i> -->
                            </li>
                            <li>
                                <a (click)="onSelectLink('core-business', 'OurBusiness', false)">{{"Navbar.OurBusiness" | translate}}</a>
                                <!-- <i class="pi pi-angle-down"></i> -->
                            </li>
                            <li>
                                <a (click)="onSelectLink('key-assets', 'OurSolutions', false)">{{"Navbar.OurSolutions" | translate}}</a>
                                <!-- <i class="pi pi-angle-down"></i> -->
                            </li>
                            <li>
                                <a (click)="onSelectLink('projects', 'Projects', false)">{{"Navbar.Projects" | translate}}</a>
                                <!-- <i class="pi pi-angle-down"></i> -->
                            </li>
                        </ng-container>
                        <li>
                            <a (click)="onSelectLink('HSE-quality', 'HSE', false)">{{"Navbar.HSE" | translate}}</a>
                            <!-- <i class="pi pi-angle-down"></i> -->
                        </li>
                        <li>
                            <a (click)="onSelectLink('certificates', 'Certificates', true)">{{"Navbar.Certificates" | translate}}</a>
                        </li>
                        <li>
                            <a (click)="onSelectLink('sustainability', 'Sustainability', true)">{{"Navbar.Sustainability" | translate}}</a>
                        </li>
                        <li>
                            <a (click)="onSelectLink('media-center', 'Media', false)">{{"Navbar.Media" | translate}}</a>
                            <!-- <i class="pi pi-angle-down"></i> -->
                        </li>
                        <li>
                            <a (click)="onSelectLink('contact-us', 'ContactUs', true)">{{"Navbar.ContactUs" | translate}}</a>
                        </li>
                        <li>
                            <a (click)="onSelectLink('Search', 'Search', false)">
                                <i class="pi pi-search"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="nav-social-langs flex align-items-center justify-content-between" *ngIf="isSticky || navDetailsOpened">
                    <div class="social" *ngIf="!isSticky">
                        <a class="social-item" *ngIf="socialMediaData?.youtube"
                        [href]="socialMediaData?.youtube" target="_blank">
                            <i class="pi pi-youtube"></i>
                        </a>
                        <a class="social-item" *ngIf="socialMediaData?.linkedin"
                        [href]="socialMediaData?.linkedin" target="_blank">
                            <i class="pi pi-linkedin"></i>
                        </a>
                        <a class="social-item" *ngIf="socialMediaData?.insta"
                        [href]="socialMediaData?.insta" target="_blank">
                            <i class="pi pi-instagram"></i>
                        </a>
                    </div>
                    <div class="langs">
                        <p-dropdown 
                        [options]="langs" 
                        [(ngModel)]="lang" 
                        (onChange)="changeLang($event)"
                        optionLabel="name" 
                        optionValue="code"
                        class="lang hide-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<nav class="nav-mobile" [ngClass]="{'nav-sticky': (isSticky && !navDetailsOpened), 'nav-on-details': navDetailsOpened}">
    <div class="mobile-topbar">
        <div class="pms-container w-full">
            <div class="topbar-wrapper">
                <div class="nav-social-langs flex align-items-center justify-content-between">
                    <div class="social">
                        <a class="social-item" *ngIf="socialMediaData?.youtube"
                        [href]="socialMediaData?.youtube" target="_blank">
                            <i class="pi pi-youtube"></i>
                        </a>
                        <a class="social-item" *ngIf="socialMediaData?.linkedin"
                        [href]="socialMediaData?.linkedin" target="_blank">
                            <i class="pi pi-linkedin"></i>
                        </a>
                        <a class="social-item" *ngIf="socialMediaData?.insta"
                        [href]="socialMediaData?.insta" target="_blank">
                            <i class="pi pi-instagram"></i>
                        </a>
                        <a class="social-item" *ngIf="socialMediaData?.x"
                        [href]="socialMediaData?.x" target="_blank">
                            <i class="pi pi-twitter"></i>
                        </a>
                        <a class="social-item" *ngIf="socialMediaData?.facebook"
                        [href]="socialMediaData?.facebook" target="_blank">
                            <i class="pi pi-facebook"></i>
                        </a>
                    </div>
                    <div class="langs">
                        <a (click)="onSelectLink('Search', 'Search', false)">
                            <i class="pi pi-search"></i>
                        </a>
                        <p-dropdown 
                        [options]="langs" 
                        [(ngModel)]="lang" 
                        (onChange)="changeLang($event)"
                        optionLabel="name"
                        optionValue="code"
                        class="lang hide-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pms-container flex justify-content-between align-items-center py-2 bg-white">
        <img class="logo-img" routerLink="/" src="assets/images/global/logo.svg" alt="">

        <p-sidebar [(visible)]="sidebarMobileVisible"  [position]="lang == 'en' ? 'left' : 'right'">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <img class="w-7rem" src="assets/images/global/logo.svg" alt="">
                </div>
            </ng-template>
            <div class="nav-links">
                <ul>
                    <li>
                        <a routerLink="/">{{"Navbar.Home" | translate}}</a>
                    </li>
                    <li>
                        <a (click)="onSelectLink('about-us', 'AboutUs', false)">{{"Navbar.AboutUs" | translate}}</a>
                        <!-- <i class="pi pi-angle-down"></i> -->
                    </li>
                    <li>
                        <a (click)="onSelectLink('our-strategy', 'OurStrategy', false)">{{"Navbar.OurStrategy" | translate}}</a>
                        <!-- <i class="pi pi-angle-down"></i> -->
                    </li>
                    <li>
                        <a (click)="onSelectLink('core-business', 'OurBusiness', false)">{{"Navbar.OurBusiness" | translate}}</a>
                        <!-- <i class="pi pi-angle-down"></i> -->
                    </li>
                    <li>
                        <a (click)="onSelectLink('key-assets', 'OurSolutions', false)">{{"Navbar.OurSolutions" | translate}}</a>
                        <!-- <i class="pi pi-angle-down"></i> -->
                    </li>
                    <li>
                        <a (click)="onSelectLink('projects', 'Projects', false)">{{"Navbar.Projects" | translate}}</a>
                        <!-- <i class="pi pi-angle-down"></i> -->
                    </li>
                    <li>
                        <a (click)="onSelectLink('HSE-quality', 'HSE', false)">{{"Navbar.HSE" | translate}}</a>
                        <!-- <i class="pi pi-angle-down"></i> -->
                    </li>
                    <hr>

                    <li>
                        <a (click)="onSelectLink('certificates', 'Certificates', true)">{{"Navbar.Certificates" | translate}}</a>
                    </li>
                    <li>
                        <a (click)="onSelectLink('sustainability', 'Sustainability', true)">{{"Navbar.Sustainability" | translate}}</a>
                    </li>
                    <li>
                        <a (click)="onSelectLink('media-center', 'Media', false)">{{"Navbar.Media" | translate}}</a>
                        <!-- <i class="pi pi-angle-down"></i> -->
                    </li>
                    <li>
                        <a (click)="onSelectLink('contact-us', 'ContactUs', true)">{{"Navbar.ContactUs" | translate}}</a>
                    </li>
                    <!-- <li>
                        <div class="langs">
                            <p-dropdown 
                            [options]="langs" 
                            [(ngModel)]="lang" 
                            (onChange)="changeLang($event)"
                            optionLabel="name"
                            class="lang hide-responsive"
                            [placeholder]="lang" />
                        </div>
                    </li> -->
                </ul>
            </div>
        </p-sidebar>
        <p-button (onClick)="sidebarMobileVisible = true" icon="pi pi-bars" />
    </div>
</nav>

<ng-container *ngIf="detailsType">
    <app-navbar-details 
    [navDetailsVisible]="navDetailsOpened" 
    [detailsType]="detailsType"
    [detailsTitle]="detailsTitle"
    (navDetailsVisibilityChange)="onNavDetailsVisibilityChange($event)"
    [displayedLinks]="displayedLinks">
  </app-navbar-details>
</ng-container>
