<main class="page-content" >
    <ng-container *ngIf="pageContent && !loading">
        <div class="page-img-wrapper">
            <img [src]="pageContent.image" [alt]="pageContent.title">
            <h1 class="page-title">{{pageContent.title}}</h1>
        </div>
        <app-breadcrumb [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>
        <div class="content" [innerHTML]="pageContent.body"></div>
    </ng-container>
    <app-loading type="small" *ngIf="loading"></app-loading>
    <div class="flex align-items-center justify-content-center" style="height: 50vh;">
        <app-empty-state *ngIf="!pageContent && !loading"></app-empty-state>
    </div>
</main>