.page-content {
    // margin-top: 9.1rem;
    position: relative;
    .page-img-wrapper {
        height: 85vh;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(0.5);
        }
        .page-title {
            position: absolute;
            bottom: 12.5%;
            left: 0%;
            color: #fff;
            font-size: 3.5rem;
            text-align: start;
            padding-inline: 5%;
            &:lang(ar) {
                left: unset;
                right: 0%;
            }
        }
        @media (max-width: 1440px) {
            .page-title {
                font-size: 3rem;
            }
        }
        @media (max-width:768px) {
            height: 30vh;
            .page-title {
                font-size: 1.8rem;
            }
        }
    }
    .content {
        padding-block: 2rem;
        padding-inline: 5%;
        clear: both;
    }
    @media (max-width: 992px) {
        // padding-inline: 2rem;
        margin-top: 7rem;
    }
    @media (max-width: 400px) {
        // padding-inline: 2rem;
        margin-top: 6rem;
    }

}

::ng-deep {
    .content p img {
        @media (max-width: 768px) {
            width: 100% !important;
        }
    }
}