<app-navbar></app-navbar>
<div class="router-content position-relative">
    <img *ngIf="currentRoute != '/'" src="assets/images/global/pages-wave-top.webp" alt="" class="pages-wave-top">
    <router-outlet></router-outlet>
    <img *ngIf="currentRoute != '/'" src="assets/images/global/pages-wave-bottom.webp" alt="" class="pages-wave-bottom">
</div>
<app-footer></app-footer>
<p-button class="scroll-btn" icon="pi pi-arrow-up" [rounded]="true" *ngIf="pageYoffset > 200" (click)="scrollToTop()" label="Back to top"
    [raised]="true"></p-button>