<app-navbar></app-navbar>
    <div class="content">
        <!-- <div class="router-content position-relative">
            <img *ngIf="currentRoute != '/'" src="assets/images/global/pages-wave-top.webp" alt="" class="pages-wave-top"> -->
            <router-outlet></router-outlet>
            <!-- <img *ngIf="currentRoute != '/'" src="assets/images/global/pages-wave-bottom.webp" alt="" class="pages-wave-bottom">
        </div> -->
    </div>
    <app-footer></app-footer>
<p-button class="scroll-btn" [rounded]="true" *ngIf="pageYoffset > 200" (click)="scrollToTop()"
    [raised]="true">
    <div class="button-temp">
        <i class="pi pi-arrow-up block"></i>
        <span class="block">{{'General.BackToTop' | translate}}</span>
    </div>
</p-button>
