.scroll-btn {
    position: fixed;
    bottom: 40px;
    inset-inline-end: 40px;
    text-align: center;
    z-index: 100;
    animation: zoom-in-zoom-out 1s ease ;
}

.load-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 120px); /* Adjust based on your navbar and footer height */
  margin-top: 60px; /* Height of your navbar */
  margin-bottom: 60px; /* Height of your footer */
}

::ng-deep {
    .scroll-btn {
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius:20px;
            width: 4rem;
            height: 4rem;
            color: var(--primary-color-medium);
            background-color: white;
            box-shadow: 0px 0px 15px 4px #00000040;
            outline: none;
            overflow: visible;
        }
        .p-button-icon {
            display: block;
            font-size: 1.4rem;
        }
    }
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
      opacity: 0;
    }
    50% {
      transform: scale(1.15, 1.15);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
