<div class="projects">
    <!-- <img src="assets/images/global/pages-wave-top.webp" alt="" class="pages-wave-top"> -->
    <app-search [Title]="searchTitle" (searchEmitter)="searchForProjects($event)"></app-search>
    <div class="latest-project" *ngIf="pageTopProject && !topProjectLoading && !searchMode">
        <div class="pms-container">
            <div class="grid">
                <div class="project-img md:col-6 sm:col-12 max-h-30rem min-h-30rem">
                    <img [src]="pageTopProject?.image" class="max-h-30rem min-h-30rem border-round-xl" alt="">
                </div>
                <div class="project-info md:col-6 sm:col-12 max-h-30rem min-h-30rem">
                    <h3 class="title subtitle-font-size">
                        {{'Projects.LatestProject' | translate}}
                    </h3>
                    <h5 class="short-desc">
                        {{ pageTopProject?.title }}
                    </h5>
                    <div class="desc" [innerHTML]="pageTopProject?.desc">
                    </div>
                    <div class="action flex align-items-center justify-content-between">
                        <span class="date">
                            {{ pageTopProject?.start_date }}
                        </span>
                        <p-button icon="pi pi-angle-right" [rounded]="true" severity="secondary"
                            [routerLink]="'/projects/details/' + pageTopProject?.slug" />
                    </div>

                </div>
            </div>
        </div>
    </div>
    <app-center-bar *ngIf="!searchMode" [Title]="barTitle" [Desc]="'It is a long established fact that a reader will be distracted by the of readable content of page  lookings at its layouts  points.'"></app-center-bar>
    <app-loading type="small" *ngIf="topProjectLoading"></app-loading>

    <div class="projects-list">
        <div class="pms-container">
            <div class="filter-btns text-center mb-5" *ngIf="!searchMode">
                <p-selectButton 
                [options]="stateOptions" 
                [(ngModel)]="selectedType" 
                optionLabel="label" 
                optionValue="value"
                (onChange)="onSelectCategory($event)"
                />
            </div>
            <div class="filtered-projects ">
                <div class="grid">
                    <ng-container *ngIf="projectsList.length">
                        <div class="card-wrapper xl:col-4 lg:col-6 md:col-12 mb-4" *ngFor="let project of projectsList">
                            <app-project-card [projectData]="project"></app-project-card>
                        </div>
                    </ng-container>
                    <app-loading type="small" *ngIf="projectsLoading"></app-loading>
                    <div class="load-more" *ngIf="(paginationData?.total! > projectsList?.length!) && !projectsLoading">
                        <p-button label="{{'Projects.More' | translate}}" (click)="loadMore()" />
                    </div>
                    <div class="col-12" *ngIf="!projectsList.length && !projectsLoading">
                        <app-empty-state></app-empty-state>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>