<div class="navbar-details">
    <p-sidebar [(visible)]="navDetailsVisible" [fullScreen]="true" (onHide)="onHideNavDetails()">
        <ng-template pTemplate="header">
            <div>
                <h3>{{detailsTitle}}</h3>
                <span>Discover PMS {{detailsTitle}}</span>
            </div>
        </ng-template>
        <div class="details-content">
            <div class="pms-container">
                <div class="grid">
                    <div class="lg:col-3">
                        <div class="discover-btn">
                            <p-button 
                                label="Discover More" 
                                icon="pi pi-arrow-right" 
                            />
                        </div>
                    </div>
                    <div class="lg:col-9">
                        <div class="links-list">
                            <ul>
                                <li *ngFor="let link of displayedLinks" 
                                    (click)="openLink(link)">
                                    {{ link?.name }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p-sidebar>
</div>