.navbar-details {
    h3 {
        font-size: 2.1rem;
        margin-inline-end: 0.5rem;
        margin-bottom: 0;
        @media (max-width:576px) {
            font-size: 1.8rem;
        }
    }
}
::ng-deep {
    .navbar-details {
        .p-sidebar .p-sidebar-header .p-sidebar-close:enabled:hover, .p-sidebar .p-sidebar-header .p-sidebar-icon:enabled {
            &:hover {
                color: #343a40;
                border-color: transparent;
                background: transparent;
                font-weight: 900;
                border-bottom: 3px solid var(--primary-color-light);
            }
        }
        .p-sidebar .p-sidebar-header .p-sidebar-close, .p-sidebar .p-sidebar-header .p-sidebar-icon {
            width: auto;
            .close-text {
                font-family: 'main-font';
                font-weight: 700;
                font-size: 1.2rem;
                color: var(--primary-color-dark);
                margin-inline-start: 0.5rem;
            }
        }
        .p-sidebar .p-sidebar-header {
            // border-top: 1px solid var(--primary-color);
            margin-top: 5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-inline: 5%;
            @media (max-width: 1200px) {
                padding-inline: 3%;
            }
            @media (max-width: 992px) {
                padding-inline: 2rem;
                margin-top: 7rem;
            }
            @media (max-width: 400px) {
                // padding-inline: 2rem;
                margin-top: 6rem;
            }
        }
        .p-sidebar .p-sidebar-content {
            padding-inline: 0;
            overflow-y: unset;
            @media (max-width:992px) {
                margin-top:1rem
            }
        }
        .discover-btn {
            .p-button {
                background: var(--primary-color-light);
                border: 1px solid var(--primary-color-light);
                border-radius: 7px;
                &:lang(ar) {
                    flex-direction: row-reverse;
                    .pi-arrow-right {
                        transform: rotate(180deg);
                    }
                }
            }
        }
        .all-links {
            margin-inline-start: auto;
            @media (max-width:992px) {
                margin-top: 0rem;
            }
        }
        .links-list {
            ul {
                @media (max-width:992px) {
                    padding-left: 0;
                }
                @media (max-width:576px) {
                    padding-left: 1rem;
                }
                li {
                    cursor: pointer;
                    margin-bottom: 1rem;
                    transition: 0.3s all ease;
                    font-size: 1.2rem;
                    font-weight: 600;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    &:hover {
                        color: var(--primary-color-light);
                    }
                }
            }
        }
        .p-inputtext {
            width: 100%;
            // border-bottom: 1px solid var(--primary-color-medium);
            border-radius: 0;
            border-width: 2px;
            // border-top: 0;
            // border-right: 0;
            // border-left: 0;
            // margin-top: 2rem;
            &::placeholder {
                // color: var(--primary-color-medium);
                font-size: 1.2rem;
                // font-weight: 700;
            }
        }
        .search-btn {
            button {
                margin-top: 1rem;
                background-color: var(--primary-color-light);
                border: none;
                .pi {
                    margin-inline-end: 0.5rem;
                }
            }
        }
        .p-inputtext:enabled:focus {
            box-shadow: none;
            border-color: var(--primary-color-light);
        }
    }

}

