<footer class="footer">
    <div class="pms-container">
        <div class="footer-header">
            <div class="grid">
                <div class="lg:col-9 md:col-6 sm:col-12">
                    <div class="logo-wrapper">
                        <a routerLink="/" class="flex align-items-center">
                            <img class="logo-img" src="assets/images/global/footer-logo.svg" alt="">
                            <h1 class="logo-txt">Petroleum Marine Services Co.</h1>
                        </a>
                    </div>
                </div>
                <div class="lg:col-3 md:col-6 sm:col-12">
                    <div class="social-wrapper">
                        <div class="social-item">
                            <i class="pi pi-facebook"></i>
                        </div>
                        <div class="social-item">
                            <i class="pi pi-twitter"></i>
                        </div>
                        <div class="social-item">
                            <i class="pi pi-linkedin"></i>
                        </div>
                        <div class="social-item">
                            <i class="pi pi-instagram"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content">
            <div class="grid">
                <div class="lg:col-3 md:col-12 sm:col-12">
                    <img class="w-15rem"  src="assets/images/global/slogan-logo.jpg" alt="">
                </div>
                <div class="lg:col-3 md:col-12 sm:col-12">
                    <li class="text-3xl font-medium mb-3">
                        Policies
                    </li>
                    <li class="mb-2">Terms and conditions</li>
                    <li class="mb-2">Privacy Policy</li>
                    <li class="mb-2">Info Reserved Area</li>
                    <li class="mb-2">Contact Us</li>
                </div>
                <div class="lg:col-3 md:col-12 sm:col-12">
                    <li class="text-3xl font-medium mb-3">
                        Keep in Touch
                    </li>
                    <li class="mb-2">
                        <span class="title">
                            Address: 
                        </span>
                        <span class="txt">
                            Nasr City It addresses everyone recounting in a transparent way
                        </span>
                    </li>
                    <li class="mb-2">
                        <span class="title">
                            Mail : 
                        </span>
                        <span class="txt">
                            PMS-pms.com
                        </span>
                    </li>
                    <li class="mb-2">
                        <span class="title">
                            Phone :
                        </span>
                        <span class="txt">
                            (+20) 123 - 4567 - 900
                        </span>
                    </li>
                </div>
                <div class="lg:col-3 md:col-12 sm:col-12">
                    <li class="text-3xl font-medium mb-3">
                        Other Links
                    </li>
                    <li class="mb-2">FAQ</li>
                    <li class="mb-2">Vision</li>
                    <li class="mb-2">Mission</li>
                    <li class="mb-2">About Us</li>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-bottom flex align-items-center justify-content-center ">
    <span class="txt">
        Copyright 2010 - 2024 PMS.com
    </span>
</div>