<footer class="footer">
    <div class="pms-container">
        <div class="footer-header">
            <div class="grid">
                <div class="lg:col-9 md:col-6 sm:col-12">
                    <div class="logo-wrapper">
                        <a routerLink="/" class="flex align-items-center">
                            <img class="logo-img" src="assets/images/global/footer-logo.svg" alt="">
                            <h1 class="logo-txt">{{'Footer.PMS' | translate}}</h1>
                        </a>
                    </div>
                </div>
                <!-- <div class="lg:col-3 md:col-6 sm:col-12">
                    <div class="social-wrapper">
                        <a class="social-item" *ngIf="socialMediaData?.facebook"
                        [href]="socialMediaData?.facebook" target="_blank">
                            <i class="pi pi-facebook"></i>
                        </a>
                        <a class="social-item" *ngIf="socialMediaData?.x"
                        [href]="socialMediaData?.x" target="_blank">
                            <i class="pi pi-twitter"></i>
                        </a>
                        <a class="social-item" *ngIf="socialMediaData?.youtube"
                        [href]="socialMediaData?.youtube" target="_blank">
                            <i class="pi pi-youtube"></i>
                        </a>
                        <a class="social-item" *ngIf="socialMediaData?.linkedin"
                        [href]="socialMediaData?.linkedin" target="_blank">
                            <i class="pi pi-linkedin"></i>
                        </a>
                        <a class="social-item" *ngIf="socialMediaData?.insta"
                        [href]="socialMediaData?.insta" target="_blank">
                            <i class="pi pi-instagram"></i>
                        </a>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="footer-content">
            <div class="grid">
                <div class="lg:col-3 md:col-12 sm:col-12">
                    <img class="w-14rem"  src="assets/images/global/slogan-logo.svg" alt="">
                </div>
                <div class="lg:col-3 md:col-12 sm:col-12">
                    <li class="text-xl font-medium mb-3">
                        {{'Footer.Policies' | translate}}
                    </li>
                    <li class="mb-2" (click)="openStaticPage('terms-and-conditions')">{{'Footer.TermsAndConditions' | translate}}</li>
                    <li class="mb-2" (click)="openStaticPage('privacy-policy')">{{'Footer.PrivacyPolicy' | translate}}</li>
                    <!-- <li class="mb-2" routerLink="/contact-us">{{'Footer.ContactUs' | translate}}</li> -->
                </div>
                <div class="lg:col-3 md:col-12 sm:col-12">
                    <li class="text-xl font-medium mb-3">
                        {{'Footer.KeepInTouch' | translate}}
                    </li>
                    <li class="mb-2 address_wrapper">
                        <span class="title">
                            {{'Footer.Address' | translate}} :
                        </span>
                        <span class="txt" *ngIf="settingsData?.address">
                            {{ settingsData?.address}}
                        </span>
                    </li>
                    <li class="mb-2" *ngIf="settingsData?.mail" >
                        <span class="title">
                            {{'Footer.Email' | translate}} :
                        </span>
                        <span class="txt">
                            {{ settingsData?.mail}}
                        </span>
                    </li>
                    <li class="mb-2" *ngIf="settingsData?.phone">
                        <span class="title">
                            {{'Footer.Phone' | translate}} :
                        </span>
                        <span class="txt">
                            {{ settingsData?.phone}}
                        </span>
                    </li>
                </div>
                <div class="lg:col-3 md:col-12 sm:col-12">
                    <li class="text-xl font-medium mb-3">
                        {{'Footer.OtherLinks' | translate}}
                    </li>
                    <li class="mb-2" routerLink="/faq">{{'Footer.FAQ' | translate}}</li>
                    <!-- <li class="mb-2" (click)="openStaticPage('vision')">{{'Footer.Vision' | translate}}</li> -->
                    <!-- <li class="mb-2" (click)="openStaticPage('mission')">{{'Footer.Mission' | translate}}</li> -->
                    <!-- <li class="mb-2" (click)="openStaticPage('company-profile')">{{'Footer.AboutUs' | translate}}</li> -->
                    <li class="mb-2" routerLink="/tenders">{{'Footer.Tenders' | translate}}</li>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-bottom flex align-items-center justify-content-center ">
    <span class="txt">
        {{'Footer.Copyright' | translate}}
    </span>
</div>