<div class="news-card-container" [routerLink]="'/news/details/' + newsData.slug">
    <div class="news-card">
        <p-card [header]="newsData.title | textSlice : 'title'">
            <ng-template pTemplate="header">
                <img alt="Card" [src]="newsData.image" />
            </ng-template>
            <p>
                {{newsData.short | textSlice : 'desc'}}
            </p>
            <ng-template pTemplate="footer">
                <span>{{newsData.date}}</span>
            </ng-template>
        </p-card>
        <span class="news-badge desktop">
            {{newsData.type}}
        </span>
    </div>
</div>
