<section class="py-5 container">
    <h2 class="fw-bold">{{"Complaints.NewComplaint" | translate}}</h2>
    <form [formGroup]="complaintForm" class="bg-form my-4 p-5">
        <div *ngIf="STEP == 0">
            <label class="mb-2 label-gray">{{"Complaints.TheComplaint" | translate}}  <span class="text-danger">*</span></label>
        <div class="row justify-content-start">
            <div class="col-sm-6 col-md-3  w-fit">
                <input formControlName="type"  (change)="onUserTypeChange($event)" type="radio" name="type" id="client"
                    value="client">
                <label class=" custom-radio" for="client">{{"Complaints.Client" | translate}}</label>
            </div>
            <div class="col-sm-6 col-md-3  w-fit">
                <input formControlName="type" (change)="onUserTypeChange($event)" type="radio" name="type"
                    id="service_provider" value="service_provider">
                <label class=" custom-radio" for="service_provider">{{"Complaints.ServicePovider" | translate}}</label>
            </div>
            <div class="col-sm-6 col-md-3  w-fit">
                <input formControlName="type" (change)="onUserTypeChange($event)" type="radio" name="type"
                    id="resource_supplier" value="resource_supplier">
                <label class=" custom-radio" for="resource_supplier">{{"Complaints.ResourceSupplier" |
                    translate}}</label>
            </div>
            <div class="col-sm-6 col-md-3  w-fit">
                <input formControlName="type" (change)="onUserTypeChange($event)" type="radio" name="type" id="employee"
                    value="employee">
                <label class=" custom-radio" for="employee">{{"Complaints.Employee" | translate}}</label>
            </div>
        </div>

        <div class="my-4">
            <label class="mb-2 label-gray" for="ComplainantType">{{"Complaints.ComplainantType" | translate}}  <span class="text-danger">*</span></label>
            <select formControlName="complaint_type_id" name="complaintType" class="w-100 p-3 rounded-3 border-0"
                id="ComplainantType" >
                <option value=""  >
                    {{"Complaints.Types" | translate}}
                </option>

                <!-- Show loading option -->
                <option *ngIf="complaintTypeLoading" disabled>
                    {{ 'Complaints.Loading' | translate }}
                </option>

                <!-- Show data if available -->
                <ng-container *ngIf="!complaintTypeLoading && complaintsTypes?.length > 0">
                    <option *ngFor="let complaint of complaintsTypes" [value]="complaint?.id">
                        {{ complaint?.name }}
                    </option>
                </ng-container>

                <!-- Show no data if array is empty -->
                <option *ngIf="!complaintTypeLoading && complaintsTypes?.length === 0" disabled>
                    {{ 'No data available' | translate }}
                </option>
            </select>
            <div
                *ngIf="complaintForm.get('complaint_type_id')?.touched && complaintForm.get('complaint_type_id')?.invalid">
                <small class="text-danger pt-1" *ngIf="complaintForm.get('complaint_type_id')?.errors?.['required']">
                    {{"Complaints.RequiredInput" | translate}}</small>
            </div>
        </div>
        <div class="my-4">
            <label class="mb-2 label-gray" for="name">{{"Complaints.FullName" | translate}} <span class="text-danger">*</span></label>
            <input formControlName="full_name" type="text"
                class=" w-100  p-2 bg-transparent " id="name" [placeholder]="'Complaints.FullName' | translate">
            <div *ngIf="complaintForm.get('full_name')?.touched && complaintForm.get('full_name')?.invalid">
                <small class="text-danger pt-1" *ngIf="complaintForm.get('full_name')?.errors?.['required']">
                    {{"Complaints.RequiredInput" | translate}}</small>
            </div>
        </div>
        <div *ngIf="showCode" class="my-4">
            <label class="mb-2 label-gray" for="userCode">{{ "Complaints."+ complaintForm.get('type')?.value| translate}} <span class="text-danger">*</span></label>
            <div class="position-relative">
                <input formControlName="code"  type="text" class=" w-100  p-2 bg-transparent "
                    id="userCode" [placeholder]=" 'Complaints.Code' | translate">
                <div [ngClass]="currentLang == 'en' ? 'end-0' : 'start-0'"  class="position-absolute  top-50 translate-middle-y" >
                    <span *ngIf="userCodeStatus == 'LOADING'" class="spinner-border spinner-border-sm mx-2"
                        role="status" aria-hidden="true"></span>
                    <i *ngIf="userCodeStatus == 'FAIL'" class="text-danger fa-solid fa-circle-xmark mx-2" role="status"
                        aria-hidden="true"></i>
                    <i *ngIf="userCodeStatus == 'SUCCESS'" class="text-success mx-2 fa-regular fa-circle-check"
                        role="status" aria-hidden="true"></i>
                </div>
            </div>
            <small *ngIf="userCodeErrorMessage" class="text-danger">{{userCodeErrorMessage}}</small>
            <div *ngIf="complaintForm.get('code')?.touched && complaintForm.get('code')?.invalid">
                <small class="text-danger pt-1" *ngIf="complaintForm.get('code')?.errors?.['required']">
                    {{"Complaints.RequiredInput" | translate}}</small>
            </div>
        </div>
        <div class="my-4">
            <label class="mb-2 label-gray" for="phone">{{"Complaints.PhoneNumber" | translate}} <span class="text-danger">*</span></label>
            <input formControlName="phone_number" type="tel"
                class=" w-100  p-2 bg-transparent " id="phone" [placeholder]="'Complaints.PhoneNumber' | translate" (keydown)="preventLetters($event)">
            <small class="text-danger pt-1"
                *ngIf="complaintForm.get('phone_number')?.touched && complaintForm.get('phone_number')?.invalid">
                <span *ngIf="complaintForm.get('phone_number')?.errors?.['required']">
                    {{ "Complaints.RequiredInput" | translate }}
                </span>
                <span *ngIf="complaintForm.get('phone_number')?.errors?.['pattern']">
                    {{ "Complaints.PhoneError" | translate }}
                </span>
            </small>
        </div>
        <div class="my-4">
            <label class="mb-2 label-gray" for="email">{{(complaintForm.get('type')?.value == 'employee' ? 'Complaints.EmployeeId' : 'Complaints.Email') | translate}} <span class="text-danger">*</span></label>
            <div>
                <div class="position-relative">
                    <input (blur)="onEmailBlur()"  formControlName="email" id="email" type="email"
                    [placeholder]="(complaintForm.get('type')?.value == 'employee' ? 'Complaints.Example' : 'Complaints.Email') | translate"
                        class="w-100 p-2 bg-transparent" />
                    <small [ngClass]="currentLang == 'en' ? 'end-0' : 'start-0'"
                    class="fw-bold position-absolute top-50 translate-middle-y me-2 text-primary cursor-pointer text-black">
                        
                        <span *ngIf="verifyEmailStatus == 'LOADING'" class="spinner-border spinner-border-sm mx-2"
                        role="status" aria-hidden="true"></span>
                    <i *ngIf="verifyEmailStatus == 'FAIL'" class="text-danger fa-solid fa-circle-xmark mx-2"
                        role="status" aria-hidden="true"></i>
                    <i *ngIf="verifyEmailStatus == 'SUCCESS'" class="text-success mx-2 fa-regular fa-circle-check"
                        role="status" aria-hidden="true"></i>
                        <span (click)="emailTyping()"  *ngIf="complaintForm.get('type')?.valid && complaintForm.get('complaint_type_id')?.valid && complaintForm.get('full_name')?.valid && complaintForm.get('phone_number')?.valid && complaintForm.get('email')?.valid "  >
                            {{"Complaints.GetCode" | translate}}
                        </span>
                    </small>
                </div>
            </div>
            <small class="text-danger pt-1"
            *ngIf="complaintForm.get('email')?.touched && complaintForm.get('email')?.invalid">
     
       <!-- شرط خاص بالموظف -->
       <span *ngIf="complaintForm.get('email')?.errors?.['missingPms']">
         {{ "Complaints.EmployeeEmail" | translate }}
       </span>
     
       <!-- لو مش خطأ موظف، نعرض باقي الأخطاء -->
       <ng-container *ngIf="!complaintForm.get('email')?.errors?.['missingPms']">
         
         <span *ngIf="complaintForm.get('email')?.errors?.['required']">
           {{ "Complaints.RequiredInput" | translate }}
         </span>
     
         <span *ngIf="complaintForm.get('email')?.errors?.['email']">
           {{ "Complaints.EmailValidation" | translate }}
         </span>
     
         <span *ngIf="complaintForm.get('email')?.errors?.['invalidExtension']">
           {{ "Complaints.EmailValidation" | translate }}
         </span>
     
       </ng-container>
     
     </small>
        </div>
        <div *ngIf="complaintForm.get('type')?.valid && complaintForm.get('complaint_type_id')?.valid && complaintForm.get('full_name')?.valid && complaintForm.get('phone_number')?.valid && complaintForm.get('email')?.valid" class="my-4">
            <label class="mb-2 label-gray" for="verifyCode">{{"Complaints.VerifyCode" | translate}} <span class="text-danger">*</span></label>
            <div class="position-relative">
                <input (focus)="onCodeFocus()" type="text" id="verifyCode" formControlName="verifyCode" 
                    [placeholder]="'Complaints.VerifyCode' | translate" class=" w-100 p-2 bg-transparent ">
                <div [ngClass]="currentLang == 'en' ? 'end-0' : 'start-0'" class="position-absolute top-50 translate-middle-y">
                    <span *ngIf="verifyCodeStatus == 'LOADING'" class="spinner-border spinner-border-sm mx-2"
                        role="status" aria-hidden="true"></span>
                    <i *ngIf="verifyCodeStatus == 'FAIL'" class="text-danger fa-solid fa-circle-xmark mx-2"
                        role="status" aria-hidden="true"></i>
                    <i *ngIf="verifyCodeStatus == 'SUCCESS'" class="text-success mx-2 fa-regular fa-circle-check"
                        role="status" aria-hidden="true"></i>
                </div>
            </div>
            <div *ngIf="complaintForm.get('verifyCode')?.touched && complaintForm.get('verifyCode')?.invalid && !complaintForm.get('email')?.invalid">
                <small class="text-danger pt-1" *ngIf="complaintForm.get('verifyCode')?.errors?.['required']">
                    {{"Complaints.RequiredInput" | translate}}</small>
                <small class="text-danger pt-1" *ngIf="complaintForm.get('verifyCode')?.errors?.['pattern']">
                    {{"Complaints.CodePattern" | translate}}</small>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button (click)="this.STEP = 1" type="submit" [disabled]="complaintForm.get('type')?.invalid || complaintForm.get('complaint_type_id')?.invalid || complaintForm.get('full_name')?.invalid || complaintForm.get('phone_number')?.invalid || complaintForm.get('email')?.invalid || complaintForm.get('verifyCode')?.invalid || verifyEmailStatus == 'FAIL' || verifyCodeStatus != 'SUCCESS'"
        class="border-0 text-white border-0 rounded-3 px-4 fw-medium py-2 btn-special"> {{"Complaints.Next" |
        translate}}</button>
        </div>
        </div>
        <div *ngIf="STEP == 1">
            <div class="my-4">
                <label class="mb-2 label-gray" for="message">{{"Complaints.Message" | translate}} <span class="text-danger">*</span></label>
                <textarea formControlName="message" id="message" cols="30" rows="3"
                    [placeholder]="'Complaints.Message' | translate" class=" w-100  p-2 bg-transparent"></textarea>
                <div *ngIf="complaintForm.get('message')?.touched && complaintForm.get('message')?.invalid">
                    <small class="text-danger pt-1" *ngIf="complaintForm.get('message')?.errors?.['required']">
                        {{"Complaints.RequiredInput" | translate}}</small>
                </div>
            </div>
            <!-- <re-captcha [siteKey]="siteKey" (resolved)="onCaptchaResolved($event)">
            </re-captcha> -->
            <div class="d-flex justify-content-between my-5">
                <div class="upload-btn-wrapper">
                    <button class="btn-upload px-3">
                        {{"Complaints.AttachFile" | translate}}
                        <!-- SVG أيقونة مشبك -->
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2"
                            viewBox="0 0 24 24">
                            <path
                                d="M21.44 11.05l-8.49 8.49a5.66 5.66 0 01-8-8l8.49-8.49a3.54 3.54 0 015 5l-8.5 8.49a1.41 1.41 0 01-2-2l7.79-7.8" />
                        </svg>
                    </button>
                    <input (change)="onFileChange($event)" multiple accept="image/*,.pdf" type="file" name="myFile" />
                </div>
                
            </div>
            <div class="d-flex justify-content-between mb-4">
                <button (click)="this.STEP = 0" 
                class="border-0 text-white border-0 rounded-3 px-4 fw-medium py-2 btn-special"> {{"Complaints.Prev" |
                translate}}</button>
                <button (click)="addComplaint()" type="submit" [disabled]="isSubmitDisabled"
                    class="border-0 text-white border-0 rounded-3 px-3 fw-medium btn-special"> {{"Complaints.SendComplaint" |
                    translate}}<span *ngIf="loadingSubmit" class="spinner-border spinner-border-sm mx-2" role="status"
                        aria-hidden="true"></span></button>
            </div>
            <span class="mx-1 bg-white border border-black border-1" *ngFor="let file of uploadedFiles; let i =index">{{file?.name}} <i (click)="removeFile(i)" class="fa-x fa-solid mx-2 text-danger fs-small "></i> </span>
        </div>
    </form>
</section>


<section *ngIf="sendSuccessfully"
    class="w-100 vh-100 postion-fixed bg-transparent fixed-top d-flex justify-content-center align-items-center">
    <div class="p-5 text-black bg-white text-center rounded-5 position-relative">
        <img class="w-25 mx-auto" src="../../../../../assets/images/global/correct.gif" alt="">
        <h3 class="mt-4">{{"Complaints.SendSuccessfully" | translate}}</h3>
        <h5 class="mt-4">{{"Complaints.ComplaintNumber" | translate}}: {{complaintNumber}}</h5>
        <div class="row justify-content-center my-3">
            <button routerLink="/"  class=" col-sm-12 my-1 my-md-0  col-md-4 mx-1 p-2   rounded-2 btn-special">{{"Complaints.Home" |
                translate}}</button>
            <button (click)="closePopUp() " class="col-sm-12 my-1 my-md-0  p-2   col-md-7  mx-1 rounded-2 btn-special">{{"Complaints.SendAnother" |
                translate}}</button>
                
        </div>
        <i (click)="closePopUp() " [ngClass]="currentLang == 'en' ? 'end-0' : 'start-0'" class="cursor-pointer fa-x fa-solid position-absolute top-0 m-5"></i>
    </div>
</section>