$main-color: #0B396A;
$main-color-hover: #082a4e;
$cover-color: rgb(241, 250, 252);

// Inputs and Textareas
input, textarea {
  border: none;
  border-bottom: 1px solid rgb(90, 90, 90);
  &:focus {
    outline: none;
  }
}

// Select
select {
  &:focus {
    outline: none;
  }
}

// Width utility
.w-47 {
  width: 47%;
}

// Buttons
button {
  background-color: $main-color;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: $main-color-hover;
  }
}

// Form Labels
form {
  .label-gray {
    color: rgb(77, 77, 77);
  }

  label {
    font-weight: 600;
  }
}

// Backgrounds
.bg-form {
  background-color: $cover-color;
}

// Radio Buttons
input[type="radio"] {
  display: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.custom-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 28px;
  font-weight: 500;
  color: #0f2d3f;

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 4px solid #ddd;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f1f6f7;
    transition: all 0.2s ease-in-out;
  }
}

input[type="radio"]:checked + .custom-radio::before {
  border-color: black;
  background-color: black;
}

input[type="radio"]:checked + .custom-radio::after {
  content: "✓";
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 10px;
}

// Upload Button
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;

  input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

.btn-upload {
  border: 1px solid #001f3f;
  color: black;
  background-color: #f7fcfd;
  padding: 10px 20px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.fs-big 
{
  font-size: 5rem;
}