<div class="contact-us margin-avoid-navbar">
        <iframe 
        width="100%"
        frameborder="0" 
        scrolling="no" 
        marginheight="0" 
        marginwidth="0" 
        [src]="mapUrl"> 
      </iframe>

      <div class="pms-container py-5">
        <div class="contact-card-wrapper">
            <div class="grid">
                <div class="md:col-6 sm:col-12">
                    <div class="contact-info-wrapper">
                        <h4 class="title">Contact Information</h4>
                        <span class="sub-title mb-4 block">Say something to start a live chat!</span>
                        <div class="info-wrapper mt-2">
                            <i class="pi pi-phone"></i>
                            <span class="text">+1 123 456 7890</span>
                        </div>
                        <div class="info-wrapper mt-2">
                            <i class="pi pi-envelope"></i>
                            <span class="text">demodgmail.com</span>
                        </div>
                        <div class="info-wrapper mt-2">
                            <i class="pi pi-map-marker"></i>
                            <span class="text">132 Dartmouth Street Boston, Massachusetts 02156 United States</span>
                        </div>
                    </div>
                </div>
                <div class="md:col-6 sm:col-12">
                    <div class="contact-form-wrapper">
                        <form>
                            <p-floatLabel>
                                <input pInputText id="username" />
                                <label for="username">Username</label>
                            </p-floatLabel>
                            <p-floatLabel>
                                <input pInputText id="username" />
                                <label for="username">Username</label>
                            </p-floatLabel>
                            <p-floatLabel>
                                <input pInputText id="username" />
                                <label for="username">Username</label>
                            </p-floatLabel>

                            <p-floatLabel>
                                <textarea 
                                    id="float-input" 
                                    rows="5" cols="30" 
                                    pInputTextarea
                                    [autoResize]="true"
                                    >
                                </textarea>
                                <label for="float-input">Summary</label>
                            </p-floatLabel>
                        </form>
                    </div>
                </div>
            </div>
          </div>
      </div>

</div>