<div class="contact-us margin-avoid-navbar">
        <iframe 
        width="100%"
        frameborder="0" 
        scrolling="no" 
        marginheight="0" 
        marginwidth="0" 
        [src]="mapUrl"> 
      </iframe>

      <div class="pms-container py-5">
            <div class="contact-card-wrapper">
                <div class="grid justify-content-between">
                    <div class="contact-info-wrapper md:col-5 sm:col-12">
                        <div class="">
                            <h4 class="title">Contact Information</h4>
                            <span class="sub-title mb-5 block">Say something to start a live chat!</span>
                            <div class="info-wrapper mb-4">
                                <i class="pi pi-phone"></i>
                                <span class="text">+1 123 456 7890</span>
                            </div>
                            <div class="info-wrapper mb-4">
                                <i class="pi pi-envelope"></i>
                                <span class="text">demodgmail.com</span>
                            </div>
                            <div class="info-wrapper mb-4">
                                <i class="pi pi-map-marker"></i>
                                <span class="text">132 Dartmouth Street Boston, Massachusetts 02156 United States</span>
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-wrapper md:col-6 sm:col-12">
                        <div class="">
                            <form>
                                <p-floatLabel class="mb-5">
                                    <input pInputText id="username" />
                                    <label for="username">Username</label>
                                </p-floatLabel>
                                <p-floatLabel>
                                    <input pInputText id="email" />
                                    <label for="email">email</label>
                                </p-floatLabel>
                                <p-floatLabel>
                                    <input pInputText id="phone" />
                                    <label for="phone">phone</label>
                                </p-floatLabel>
                                <p-floatLabel>
                                    <textarea 
                                        id="float-input" 
                                        rows="5" cols="30" 
                                        pInputTextarea>
                                    </textarea>
                                    <label for="float-input">Message</label>
                                </p-floatLabel>
                                <div class="search-btn">
                                    <p-button 
                                        label="Send Message" 
                                        icon="pi pi-arrow-right"
                                    />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
      </div>

</div>