<div class="contact-us margin-avoid-navbar">
        <app-center-bar [Title]="barTitle" [Desc]="'Good people delivering an honest value'"></app-center-bar>
        <iframe 
        width="100%"
        frameborder="0" 
        scrolling="no" 
        marginheight="0" 
        marginwidth="0" 
        [src]="mapUrl"> 
      </iframe>

      <div class="pms-container py-5">
            <div class="contact-card-wrapper">
                <div class="grid justify-content-between">
                    <div class="contact-info-wrapper md:col-5 sm:col-12">
                            <h4 class="title">{{'Contact.ContactInformation' | translate}}</h4>
                            <span class="sub-title mb-5 block">{{'Contact.Desc' | translate}}</span>
                            <div class="info-wrapper mb-4" *ngIf="settingsData?.phone">
                                <i class="pi pi-phone"></i>
                                <span class="text">{{ settingsData?.phone}}</span>
                            </div>
                            <div class="info-wrapper mb-4" *ngIf="settingsData?.mail">
                                <i class="pi pi-envelope"></i>
                                <span class="text"> {{ settingsData?.mail}}</span>
                            </div>
                            <div class="info-wrapper mb-4" *ngIf="settingsData?.address">
                                <i class="pi pi-map-marker"></i>
                                <span class="text">{{ settingsData?.address }}</span>
                            </div>
                            <div class="social-icons">
                                <a class="icon-wrapper" *ngIf="socialMediaData?.facebook"
                                [href]="socialMediaData?.facebook" target="_blank">
                                    <i class="pi pi-facebook"></i>
                                </a>
                                <a class="icon-wrapper" *ngIf="socialMediaData?.x"
                                [href]="socialMediaData?.x" target="_blank">
                                    <i class="pi pi-twitter"></i>
                                </a>
                                <a class="icon-wrapper" *ngIf="socialMediaData?.insta"
                                [href]="socialMediaData?.insta" target="_blank">
                                    <i class="pi pi-instagram"></i>
                                </a>
                                <a class="icon-wrapper" *ngIf="socialMediaData?.youtube"
                                [href]="socialMediaData?.youtube" target="_blank">
                                    <i class="pi pi-youtube"></i>
                                </a>
                                <a class="icon-wrapper" *ngIf="socialMediaData?.linkedin"
                                [href]="socialMediaData?.linkedin" target="_blank">
                                    <i class="pi pi-linkedin"></i>
                                </a>
                            </div>
                        <img class="bottom-img" src="assets/images/global/contact-us-info.svg" alt="">
                    </div>
                    <div class="contact-form-wrapper md:col-6 sm:col-12">
                        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                            <p-floatLabel class="mb-5">
                                <input pInputText id="username" formControlName="name" />
                                <label for="username">{{'Contact.Username' | translate}}</label>
                            </p-floatLabel>
                            <p-floatLabel>
                                <input pInputText id="email" formControlName="email" />
                                <label for="email">{{'Contact.Email' | translate}}</label>
                            </p-floatLabel>
                            <!-- <p-floatLabel>
                                <input pInputText id="phone" formControlName="phone" />
                                <label for="phone">{{'Contact.Phone' | translate}}</label>
                            </p-floatLabel> -->
                            <p-floatLabel class="mb-5">
                                <input pInputText id="title" formControlName="title" />
                                <label for="title">{{'Contact.Title' | translate}}</label>
                            </p-floatLabel>
                            <p-floatLabel>
                                <textarea 
                                    id="float-input" 
                                    rows="5" cols="30" 
                                    formControlName="desc"
                                    pInputTextarea>
                                </textarea>
                                <label for="float-input">{{'Contact.Message' | translate}}</label>
                            </p-floatLabel>
                            <div class="search-btn">
                                <p-button 
                                    type="submit"
                                    label="{{'Contact.SendMessage' | translate}}" 
                                    icon="pi pi-arrow-right"
                                    [loading]="loading"
                                    
                                />
                                <p-toast />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
      </div>

</div>
