<div class="our-news-section pb-3 pt-4">
    <div class="pms-container">
        <div class="news-header mb-2 flex align-items-center justify-content-between">
            <div class="txt">
                <h2 class="title-font-size color-primary">{{"Home.OurNews" | translate}}</h2>
                <!-- <p class="header-desc color-primary-medium">Amet minim mollit non deserunt ullamco est sit aliqua dolor
                    do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt
                    nostrud amet.</p> -->
            </div>
            <a class="btn font-bold white-space-nowrap" routerLink="/news">
                {{"General.ViewMore" | translate}}
            </a>
        </div>
        <div class="news-data">
            <ng-container *ngIf="isBrowser">
                <p-tabView [scrollable]="true" (activeIndexChange)="onSelectCategory($event)">
                    <p-tabPanel *ngFor="let category of newsCategories" [header]="category?.name">
                        <div class="grid" *ngIf="(bigCardNews || smallCardsNews?.length) && !loading">
                            <div class="sm:col-12 md:col-6 big-card-container p-1" *ngIf="bigCardNews">
                                <a class="big-card" [routerLink]="'/news/details/' + bigCardNews?.slug">
                                    <p-card [header]="bigCardNews?.title">
                                        <ng-template pTemplate="header">
                                            <img alt="Card" [src]="bigCardNews?.image" />
                                        </ng-template>
                                        <p class="news-desc" [innerHTML]="bigCardNews?.short">
                                        </p>
                                        <ng-template pTemplate="footer">
                                            <!-- <span>{{bigCardNews?.date}}</span> -->
                                            <button class="discover_btn" [routerLink]="'/news/details/' + bigCardNews?.slug">
                                                <i class="pi pi-angle-right" *ngIf="lang == 'en'"></i>
                                                <i class="pi pi-angle-left" *ngIf="lang == 'ar'"></i>
                                                <span>Discover More</span>
                                            </button>
                                        </ng-template>
                                    </p-card>
                                    <!-- <span class="news-badge desktop">
                                        {{bigCardNews?.category_title}}
                                    </span> -->
                                </a>
                            </div>
                            <div class="sm:col-12 md:col-6 small-cards-container" *ngIf="smallCardsNews?.length">
                                <div class="grid mx-0">
                                    <div class="sm:col-12 md:col-6 p-1" style="margin-bottom:10px" *ngFor="let card of smallCardsNews" >
                                        <a class="small-card"
                                        [routerLink]="'/news/details/' + card?.slug">
                                            <p-card [header]="card?.title">
                                                <ng-template pTemplate="header">
                                                    <img alt="Card" [src]="card?.image" />
                                                </ng-template>
                                                <p class="news-desc" [innerHTML]="card?.short">
                                                    <!-- {{card.description | slice: 0: 30}} -->
                                                </p>
                                                <ng-template pTemplate="footer">
                                                    <!-- <span>{{card?.date}}</span> -->
                                                    <button class="discover_btn" [routerLink]="'/news/details/' + card?.slug">
                                                        <i class="pi pi-angle-right" *ngIf="lang == 'en'"></i>
                                                        <i class="pi pi-angle-left" *ngIf="lang == 'ar'"></i>
                                                        <span>Discover More</span>
                                                    </button>
                                                </ng-template>
                                            </p-card>
                                            <!-- <span class="news-badge desktop">
                                                {{card?.category_title}}
                                            </span> -->
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <app-loading type="small" *ngIf="loading"></app-loading>
                    </p-tabPanel>
                </p-tabView>
            </ng-container>
        </div>
    </div>
</div>