<div class="project-card">
    <div class="img-wrapper">
        <img class="w-full rounded-3" [src]="projectData.image" alt="Project Image">
    </div>
    <div class="content flex align-items-center justify-content-between mt-3">
        <div class="info">
            <h5 class="title">
                {{projectData.title}}
            </h5>
            <span class="date">
                {{projectData.date}}
            </span>
        </div>
        <div class="details-btn">
            <p-button icon="pi pi-angle-right" [rounded]="true" severity="secondary" [routerLink]="'/projects/'+ projectData.slug "  />
        </div>
    </div>
</div>