<div class="event-details margin-avoid-navbar">
    <div class="pms-container">
        <div class="event-info" *ngIf="eventData && !loading">
            <div class="grid">
                <div class="col-12">
                    <h2 class="project-title">{{ eventData?.title }}</h2>
                </div>
                <div class="content-wrapper col-12">
                    <div class="images">
                        <div class="project-images">
                            <p-galleria [value]="eventData?.media" [responsiveOptions]="responsiveOptions"
                                [numVisible]="5">
                                <ng-template pTemplate="item" let-item>
                                    <img [src]="item.image" style="width: 100%;" />
                                </ng-template>
                                <ng-template pTemplate="thumbnail" let-item>
                                    <div class="grid grid-nogutter justify-content-center">
                                        <img [src]="item.image" style="width: 100%;" />
                                    </div>
                                </ng-template>
                            </p-galleria>
                        </div>
                    </div>
                    <div class="text" [innerHTML]="eventData?.desc">
                    </div>
                </div>

            </div>
        </div>
        <app-loading type="small" *ngIf="loading"></app-loading>
        <div class="similar-events mt-5" *ngIf="similarEventsData?.length && !similarEventsLoading">
            <span class="title block font-bold text-2xl pb-2 mb-4">
                {{'SimilarTitles.SimilarEvents' | translate}}
            </span>
            <!-- <p-carousel [value]="similarEventsData" [numVisible]="3" [numScroll]="3" [circular]="true"
                [showIndicators]="false" [responsiveOptions]="responsiveOptions" autoplayInterval="3000"
                [ngClass]="similarEventsData.length === 1 ? 'length-one' : ''">
                <ng-template let-event pTemplate="item">
                    <div class="m-2 p-2">
                        <app-event-card [eventData]="event"></app-event-card>
                    </div>
                </ng-template>
            </p-carousel> -->
            <div class="grid">
                <div class="xl:col-3 lg:col-4 md:col-6 sm:col-12" *ngFor="let event of similarEventsData">
                    <app-event-card [eventData]="event"></app-event-card>
                </div>
            </div>
        </div>
        <app-loading type="small" *ngIf="similarEventsLoading"></app-loading>
    </div>
</div>