<div class="event-details margin-avoid-navbar">
    <div class="pms-container">
        <app-breadcrumb [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>
        <div class="event-info" *ngIf="eventData && !loading">
            <div class="grid">
                <div class="col-12">
                    <div class="head-wrapper flex align-items-center justify-content-end">
                        <!-- <h2 class="project-title">{{ eventData?.title }}</h2> -->
                        <div class="share_details">
                            <span class="txt">
                                {{ 'General.Share' | translate }}
                            </span>
                            <!-- (opened)="onLinkOpened($event)" -->
                            <button class="share_link" shareButton="facebook" 
                            [url]="websiteUrl + '/events/details/' + eventData?.slug"
                            [title]="eventData.title"
                            [image]="eventData.image"
                            [description]="eventData.short"
                            >
                                <img src="assets/images/global/facebook.svg" alt="">
                            </button>
                            <button class="share_link" shareButton="twitter"
                            [url]="websiteUrl + '/events/details/' + eventData?.slug"
                            [title]="eventData.title"
                            [image]="eventData.image"
                            [description]="eventData.short">
                                <img src="assets/images/global/twitter.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="content-wrapper col-12">
                    <div class="table-part w-100">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="img-col" style="color: white;background-color: var(--primary-color-light);">
                                        <i class="pi pi-cog"></i>
                                    </th>
                                    <th colspan="2" class="text-lg" style="color: white;background-color: var(--primary-color-light);">
                                        {{'Events.EventInfo' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="eventData['date']">
                                    <th class="img-col" scope="row">
                                        <img src="assets/images/global/date-icon.svg" alt="">
                                    </th>
                                    <td class="title-col">{{ 'Projects.StartDate' | translate }}</td>
                                    <td class="info-col">{{ eventData['date'] }}</td>
                                </tr>
                                <tr *ngIf="eventData['end_date']">
                                    <th class="img-col" scope="row">
                                        <img src="assets/images/global/date-icon.svg" alt="">
                                    </th>
                                    <td class="title-col">{{ 'Projects.EndDate' | translate }}</td>
                                    <td class="info-col">{{ eventData['end_date'] }}</td>
                                </tr>
                                <tr *ngIf="eventData['address']">
                                    <th class="img-col" scope="row">
                                        <img src="assets/images/global/location-icon.svg" alt="">
                                    </th>
                                    <td class="title-col">{{ 'Projects.Location' | translate }}</td>
                                    <td class="info-col">{{ eventData['address'] }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="images w-100">
                        <div class="project-images">
                            <p-galleria [value]="eventData?.media" [responsiveOptions]="responsiveOptions"
                                [numVisible]="5" 
                                [showThumbnailNavigators]="eventData?.media?.length > 5"
                                [showThumbnails]="eventData?.media?.length > 1"
                                >
                                <ng-template pTemplate="item" let-item>
                                    <p-image [preview]="true" [src]="item.image" />
                                </ng-template>
                                <ng-template pTemplate="thumbnail" let-item>
                                    <div class="grid grid-nogutter justify-content-center">
                                        <img [src]="item.image" style="width: 100%;" />
                                    </div>
                                </ng-template>
                            </p-galleria>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="text" [innerHTML]="sanitizeHtml(eventData?.desc)">
                    </div>
                </div>
            </div>
        </div>
        <app-loading type="small" *ngIf="loading"></app-loading>
        <div class="similar-events mt-5" *ngIf="similarEventsData?.length && !similarEventsLoading">
            <span class="title block font-bold text-2xl pb-2 mb-4 color-primary-medium">
                {{'SimilarTitles.SimilarEvents' | translate}}
            </span>
            <div class="grid">
                <div class="xl:col-4 lg:col-4 md:col-6 sm:col-12" *ngFor="let event of similarEventsData">
                    <app-event-card [eventData]="event" [cardType]="'event'"></app-event-card>
                </div>
            </div>
        </div>
        <app-loading type="small" *ngIf="similarEventsLoading"></app-loading>
    </div>
</div>