<div class="faq">
    <div class="header flex align-items-center justify-content-center">
        <img src="assets/images/global/faq-bg.jpg" alt="" class="cover">
        <div class="content">
            <h2 class="title">FAQ</h2>
            <span class="text mt-3">
                Good people delivering an honest value 
            </span>
        </div>
    </div>
    <div class="faq-content py-5" *ngIf="faqsList?.length && !loading">
        <div class="pms-container">
            <div class="wrapper">
                <p-accordion [activeIndex]="0" class="w-full faq-accordion" expandIcon="pi pi-plus" collapseIcon="pi pi-minus">
                    <p-accordionTab header="header" *ngFor="let faq of faqsList">
                        <ng-template #header>
                            <div [innerHTML]="faq.question"></div>
                        </ng-template>
                        <div [innerHTML]="faq.answer">
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </div>
            <div class="load-more"  *ngIf="paginationData?.total! > faqsList?.length!">
                <p-button label="More..." (click)="loadMore()" />
            </div>
        </div>
    </div>
    <app-loading type="small" *ngIf="loading"></app-loading>
</div>