.faq {
    @media (max-width:992px) {
        margin-top: 7rem;
    }
    .header {
        position: relative;
        height: 85vh;
        .cover {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            object-fit: fill;
            filter: brightness(0.5);
    
        }
        .content {
            position: absolute;
            left: 0%;
            bottom: 12.5%;
            color: white;
            text-align: start;
            padding-inline: 5%;
            .title {
                font-size: 5rem;
            }
            &:lang(ar) {
                left: unset;
                right: 0%;
            }
        }
        @media (max-width: 1440px) {
            .content {
                .title {
                    font-size: 4.5rem;
                }
            }
        }
        @media (max-width: 768px) {
            height: 30vh;
            .content {
                .title {
                    font-size: 2.8rem;
                }
            }
        }
    }
}

.wrapper {
    // background-color: #EBF3F5;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
}

::ng-deep {
    .faq-accordion .p-accordion-header-link {
        color: var(--primary-color-medium);
      }
      
      .faq-accordion .p-accordion-header-text {
        order: 1;
      }

      .faq-accordion .p-accordion-toggle-icon.pi-plus {
        background-color: #E6F1FF;
        border: 1px solid var(--primary-color-medium);
        border-radius: 3px;
        padding: 0.3rem;
      }
      
      .faq-accordion .p-accordion-toggle-icon.pi-minus {
        background-color: var(--primary-color-medium);
        color: white;
        border-radius: 3px;
        padding: 0.3rem;
      }

      .faq {
        .load-more {
            width: 100%;
            margin-block: 2em;
            text-align: center;
            .p-button {
                width: fit-content;
                background: var(--primary-color-medium);
                border: 1px solid var(--primary-color-medium);
                border-radius: 7px;
                padding-inline: 2em;
            }
        }
      }
}