<div class="news-details margin-avoid-navbar">
    <div class="pms-container">
        <app-breadcrumb [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>
        <div class="news-info" *ngIf="newsData?.title && !loading">
            <div class="grid">
                <div class="col-12">
                    <div class="head-wrapper flex align-items-center justify-content-end">
                        <!-- <h2 class="news-title">{{ newsData?.title }}</h2> -->
                        <div class="share_details">
                            <span class="txt">
                                {{ 'General.Share' | translate }}
                            </span>
                            <!-- (opened)="onLinkOpened($event)" -->
                            <button class="share_link" shareButton="facebook" 
                            [url]="websiteUrl + '/news/details/' + newsData?.slug"
                            [title]="newsData.title"
                            [image]="newsData.image"
                            [description]="newsData.short"
                            >
                                <img src="assets/images/global/facebook.svg" alt="">
                            </button>
                            <button class="share_link" shareButton="twitter"
                            [url]="websiteUrl + '/news/details/' + newsData?.slug"
                            [title]="newsData.title"
                            [image]="newsData.image"
                            [description]="newsData.short">
                                <img src="assets/images/global/twitter.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="content-wrapper col-12">
                    <div class="images">
                        <div class="news-images">
                            <p-galleria [value]="newsData?.media" [responsiveOptions]="responsiveOptions"
                                [numVisible]="5">
                                <ng-template pTemplate="item" let-item>
                                    <p-image [preview]="true" [src]="item.image" />
                                </ng-template>
                                <ng-template pTemplate="thumbnail" let-item>
                                    <div class="grid grid-nogutter justify-content-center">
                                        <img [src]="item.image" style="width: 100%;" />
                                    </div>
                                </ng-template>
                            </p-galleria>
                        </div>
                    </div>
                    <div class="text" [innerHTML]="sanitizeHtml(newsData?.desc)">
                    </div>
                </div>
            </div>
        </div>
        <app-loading type="small" *ngIf="loading"></app-loading>
        <div class="similar-news mt-5 pb-5" *ngIf="similarNewsData?.length">
            <span class="title block font-bold text-2xl pb-2 mb-4">
                {{'SimilarTitles.SimilarNews' | translate}}
            </span>
            <!-- <p-carousel [value]="similarNewsData" [numVisible]="3" [numScroll]="3" [circular]="true"
                [showIndicators]="false" [responsiveOptions]="responsiveOptions" autoplayInterval="3000"
                [ngClass]="similarNewsData.length === 1 ? 'length-one' : ''">
                <ng-template let-news pTemplate="item">
                    <div class="mx-2">
                        <app-news-card [newsData]="news"></app-news-card>
                    </div>
                </ng-template>
            </p-carousel> -->
            <div class="grid">
                <div class="xl:col-3 lg:col-4 md:col-6 sm:col-12" *ngFor="let news of similarNewsData">
                    <app-news-card [newsData]="news"></app-news-card>
                </div>
            </div>
        </div>
        <app-loading type="small" *ngIf="similarNewsLoading"></app-loading>
    </div>
</div>