@import "primeicons/primeicons.css";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "./assets/styles/global-styles.scss";
@import "./assets/styles/arabic.scss";
@import "./assets/styles/utils.scss";

@font-face {
    font-family: 'ar-title-font';
    src: url('./assets/fonts/bein-ar-bold.ttf');
}

@font-face {
    font-family: 'ar-main-font';
    src: url('./assets/fonts/monadi.ttf');
}

@font-face {
    font-family: 'title-font';
    src: url('./assets/fonts/BlenderPro-Bold.ttf');
}

@font-face {
    font-family: 'main-font';
    src: url('./assets/fonts/AktivGroteskCorp-Regular.ttf');
}

.desc,
pre {
    &:lang(ar) {
        font-family: 'ar-main-font' !important;
    }
    &:lang(en) {
        font-family: 'main-font' !important;
    }
}

:root {
    --primary-color: #141414;
    --primary-color-light: #5894AC;
    --primary-color-medium: #1B2E5E;
    --secondary-color: #007236;
}

body {
    font-family: 'main-font', sans-serif;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
    font-family: 'title-font';
}

html {
    @media (max-width: 1440px) {
        font-size: 14px;
    }
    @media (max-width: 1300px) {
        font-size: 13px;
    }
}

* {
    // padding: 0;
    // margin: 0;
    box-sizing: border-box;
}


// p {
//     padding: 0;
//     margin: 0;
// }

a {
    text-decoration: none;
    color: var(--primary-color-light);
}

ul, li {
    list-style-type: none;
}

.p-accordion-header-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-accordion-header-text {
    order: 1;
}

.p-accordion-toggle-icon {
    order: 2; 
}

.p-image-toolbar {
    @media (max-width:992px) {
        top: 10%;
    }
}

.pms-container {
    padding-inline: 5%;
    @media (max-width: 1200px) {
        padding-inline: 3%;
    }
    @media (max-width: 992px) {
        padding-inline: 2rem;
    }
}


