.pi-angle-right, .p-accordion-toggle-icon, .p-carousel-prev, .p-carousel-next, .pi-arrow-right {
    &:lang(ar) {
        transform: rotate(180deg);
    }
}

body {
    &:lang(ar) {
        font-family: 'ar-main-font', sans-serif;
    }
}

h1, h2, h3, h4, h5 {
    &:lang(ar) {
        font-family: 'ar-title-font', sans-serif;
    }
}
