// colors 
.color-primary-medium {
    color: var(--primary-color-medium)
}

.color-secondary {
    color: var(--secondary-color)
}

.color-primary {
    color: var(--primary-color)
}

.color-primary-medium {
    color: var(--primary-color-medium)
}

.color-primary-light {
    color: var(--primary-color-light)
}

// fonts 
.title-font-size {
    font-size: 2.2rem;
}

.subtitle-font-size {
    font-size: 1.8rem;
}
