<div class="search-pages">
    <div class="search-content text-center">
        <h3 class="title text-5xl">
            Welcome to {{Title}} Page
        </h3>
        <span class="desc">
            Explore {{Title}}
        </span>
        <div class="search-form">
            <input type="text" pInputText [(ngModel)]="searchValue" placeholder="Search here..."/>
            <div class="search-btn">
                <p-button 
                    label="Search" 
                    icon="pi pi-arrow-right" 
                />
            </div>
        </div>
    </div>
</div>