<div class="search-pages">
    <div class="search-content text-center">
        <h3 class="title text-5xl">
            {{'Search.WelcomeTo' | translate}} {{Title}}
        </h3>
        <span class="desc">
            {{'Search.Explore' | translate}} {{Title}}
        </span>
        <div class="search-form">
            <input type="text" pInputText [(ngModel)]="searchValue" placeholder="{{'Search.SearchHere' | translate}}"/>
            <div class="search-btn">
                <p-button 
                    label="{{'Search.Search' | translate}}" 
                    icon="pi pi-arrow-right" 
                    (click)="onSearch()"
                />
            </div>
        </div>
    </div>
</div>