::ng-deep {
    .search-pages {
        border: 4px solid #A9C3E2;
        border-top: none;
        padding-bottom: 5rem;
        .search-content {
            padding-top: 2.5rem;
            width: 40%;
            margin-inline: auto;
            padding-bottom: 2rem;
            @media( max-width: 992px) {
                width: 50%;
            }
            @media( max-width: 768px) {
                width: 80%;
            }
            @media( max-width: 576px) {
                width: 90%;
            }
            .p-inputtext {
                width: 100%;
                margin-block: 2rem 1rem;
            }
            .search-btn {
                .p-button {
                    width: 100%;
                    background: var(--primary-color-medium);
                    border: 1px solid var(--primary-color-medium);
                    border-radius: 7px;
                    transition: 0.4s all ease;
                    min-height: 3.125rem;
                    .pi {
                        transition: 0.4s all ease;
                        &:lang(ar) {
                            transform: rotate(180deg);
                        }
                    }
                }
                &:hover {
                    .p-button {
                        text-align: start;
                        .p-button-label {
                            display: none;
                        }
                        .pi {
                            display: block;
                            width: 100%;
                            transform: translateX(50%);
                        }
                    }
                    // &:lang(ar) {
                    //     text-align: start;
                    //     .p-button-label {
                    //         display: none;
                    //     }
                    //     .pi {
                    //         display: block;
                    //         width: 100%;
                    //         transform: rotate(180deg) translateX(-50%);
                    //     }
                    // }
                }
                &:lang(ar) {
                    .p-button .pi {
                        transform: rotate(180deg);
                    }
                    &:hover {
                        .p-button {
                            text-align: end;
                        }
                        .p-button-label {
                            display: none;
                        }
                        .pi {
                            display: block;
                            width: 100%;
                            transform: rotate(180deg) translateX(50%);
                        }
                    }
                }
            }
            .desc {
                font-size: 1.13rem;
            }
        }
        @media (max-width:768px) {
            padding-bottom: 1rem;
        }
    }
}